#ra-multicombobox {
  display: inline-block;
  position: relative;

  .ra-search-input {
    height: 34px;
    line-height: 34px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    padding: 0 10px;
  }

  .ra-search-img-dropdown-normal {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-left: 4px;
    cursor: pointer;
    background-image: url(../../../../Images/RDM/icons.png);
    background-position: -234px -0px;
  }

  .ra-search-popup-container {
    display: inline-block;
    min-width: 210px;
    min-height: 300px;
    position: absolute;
    z-index: 1;
    top: 34px;
    padding: 6px 8px 10px 8px;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 10px #888888;
    background-color: white;
  }

  #rm_control_btn {
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
}


