.reco-dashboard-rcbs-wrapper {
    .reco-dashboard-rcbs-top-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        .reco-dashboard-rcbs-selectors {

            height: 24px;
            display: flex;
            font: normal normal normal 13px/18px "Open Sans", sans-serif;
            letter-spacing: 0px;
            color: #323E4D;

            .reco-dashboard-rcbs-source-selector {
                height: 100%;
                margin-right: 32px;
            }

            .reco-dashboard-rcbs-datarange-selector {
                height: 100%;
            }
        }
    }

    .reco-dashboard-rcbs-status-section {
        width: 100%;
        height: 18px;
        display: flex;
        justify-content: flex-end;

        .reco-dashboard-rcbs-status {
            margin-left: 24px;
            font: normal normal normal 13px/18px "Open Sans", sans-serif;
            letter-spacing: 0px;
            color: #293037;

            .reco-dashboard-rcbs-status-color {
                width: 10px;
                height: 10px;
                border-radius: 8px;
                margin-right: 8px;
                display: inline-block;
            }
        }
    }

    .reco-dashboard-rcbs-line-chart-section {
        width: 100%;
        height: 380px;
    }
}