#raMtPickListForDestruction, #raMtPickListForLoanRequests, #raMtPickListForMovement{
  .fia-status-successful{
    font-size: 16px;
  }

  .ra-page-container {
    padding: 0 !important;
    margin-top: 16px;
  }
}