#raMachineLeaning{
  .ra-ml-update-time{
      display: flex;
      justify-content: end;
      align-items: center;
      font-style: italic;
      color: #323E4D;
  }

  .ra-page-container{
    padding: 0 !important;
    margin-top: 16px
  }

  .ra-main-table-with-border{
    padding-inline: 24px;
    border-top: 1px solid #e7eaeb
  }
}

#raMtAddTermDialog{
  .ra-main-footer{
    padding-inline: 0;
  }
}

.ra-traning-scope-cell-link {
  &:visited {
    color: #0072d0 !important;
  }
}