<?xml version="1.0" encoding="utf-8"?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<packages>
  <package id="DnsClient" version="1.8.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.12.4" targetFramework="net48" />
  <package id="Microsoft.Azure.ActiveDirectory.Client.Framework" version="1.0.8362.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Azure.ActiveDirectory.GraphClient" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.81.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.15.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net472" />
  <package id="Microsoft.Online.Administration.Automation.PSModule" version="1.0.8362.1" targetFramework="net472" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.26712.12000" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="NintexO365API" version="1.2.0" targetFramework="net48" />
  <package id="Office365Api" version="2.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.3" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
</packages>