.reco-cost-content {
  .reco-cost-option {
    margin-top: 24px;

    .reco-cost-title {
      font: normal normal 600 14px/19px Open Sans;
      color: #323e4d;
    }

    .reco-cost-value {
      display: flex;

      .reco-cost-input {
        flex: 1;
      }

      .reco-cost-unit {
        display: flex;
        align-items: center;
        margin-left: 8px;
        font: normal normal normal 14px/19px Open Sans;
        color: #323e4d;
      }
    }
  }

  .aui-expander-expand[level="2"] {
    box-shadow: none;
    border: var(--border-m) solid var(--normal-border) !important;
  }
}
