.reco-job-notification{
  .reco-job-notification-header {
    display: flex;
    justify-content: space-between;
  }

  .reco-job-notification-content{
    width: 100%;
    border: 1px solid #e7eaeb;
    border-radius: 8px;
    background: #ffffff;
    padding: 24px;
    position: relative;
  }

  .reco-job-notification-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    margin: 0 0 16px 0;
  }

  .reco-job-notification-actions {
    display: flex;
    justify-content: left;
    height: 34px;
  }
}

.reco-job-notification-create{
  .reco-job-notification-create-title{
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
    font: normal normal 600 13px/18px Open Sans;
    letter-spacing: 0px;
    color: #323E4D;
    opacity: 1;
  }

  .reco-job-notification-create-jobTitle{
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
  }

  .reco-job-notification-create-module{
    margin-bottom: 24px;
  }

  .reco-job-notification-create-weekly{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 8px;
  }

  .reco-job-notification-create-weekly-title{
    margin-left: 22px;
    margin-right: 10px;
  }

  
  .reco-job-notification-create-weekly-options{
    width: 200px;
  }

  .reco-job-notification-interval-title{
    text-align: left;
    font: normal normal 600 13px/18px Open Sans;
    letter-spacing: 0px;
    color: #323E4D;
    opacity: 1;
  }

  .reco-job-notification-interval{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
    align-items: center;
  }
}