#raRelatedRecord{
  height: 100%;
  .ra-page-container{
    height: 100%;
    overflow: auto;
  }

  .ra-relatedrecord-link{
    display: flex;
    justify-content: end;
    margin-right: 24px;
    margin-top: 24px;
    font-size: 16px;
    color: #0088cc;
  }

  .ra-relatedrecord-link-content{
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .ra-cloud-records-icon{
    width: 24px;
    height: 20px;
    margin-right: 8px;
  }
  
  #raAddRelatedRecords{
    padding: 24px;

    .ra-add-related-header{
      display: grid;
      grid-gap: 16px;
    }
  
    .add-related-title{
      font-size: 18px;
      font-weight: 700;
    }

    .add-related-name{
      margin-left:8px;
      font-weight: 600;
    }

    .add-related-site-collection{
      display: flex;
      align-items: center;
    }
  
    .ra-add-related-content{
      display: grid;
      border: 1px solid #dfdfdf;
      margin-top: 16px;
      min-height: 500px;
    }

    .add-related-tree, .add-related-table{
      padding: 16px 0;
    }

    .rd-selected-related-records{
      display: flex;
      margin-top: 16px;
      align-items: center 
    }

    .selected-related-records-content{
      margin-left: 8px;
      flex: 1;
    }

    .ra-add-related-action{
      display: flex;
      justify-content: end;
      margin-top:24px;
    }

    .search-site-collection-arrow{
      width: 34px;
      height: 34px;
      line-height: 34px;
      color: rgb(9, 108,186);  
      cursor: pointer;
    }
  
    .ra-tree-icon{
      line-height: 0;
    }

    .ra-main-footer{
      justify-content: flex-end;
    }
  }  

  #raManageRelatedRecords{
    display: flex;
    padding: 24px;
  }
  
  #raRelatedRecordNav{
    width: 300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
   
    .rd-manage-nav-item{
      display: flex;
      flex-direction: column;
      justify-content: space-around ;
      height: 80px;
      border-right: 1px solid #d7d7d7;
      padding-left: 24px ;
      padding-right: 8px;
    }
  
    .rd-manage-nav-select{
      border-top: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7;
      border-left: 3px solid #0088cc;
      border-right: none;   
    }
    
    .nav-item-title{
      font-weight: 600;
    }
  
    .nav-item-type{
      color: #888;
    }

    .rd-nav-pager{
      display: flex;
      flex: 1;
      border-right: 1px solid #d7d7d7;   
      justify-content: end;
      align-items: flex-end;
    }

    .ra-pager{
      margin-right: 8px
    }
  }
  
  #raManageRelatedRecordDetail{
    flex: 1;
    padding-left:30px; 
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;

    .rd-detail-title{
      margin-top:8px;
      font-family: "Segoe UI", sans-serif;
      font-size: 20px;
      color: #333;
    }
    
    .rd-section-head{
      margin: 32px 0 16px 0;
      font-weight: bold;
      font-size: 16px;
      color: #333;
    }

    .rd-section-summary{
      display: flex;
      font-size: 14px;
      margin-bottom:16px;
    }

    .rd-section-title{
      width: 200px;
      font-weight: 600;
      color: #333;
    }

    .rd-section-text{
      flex: 1;
    }

    .rd-detail-phy{
      margin-top: 32px;
    }

    .ra-details .ra-label{
      font-size: 14px;
      background-color: #fff !important;
      padding: 8px 0;
    }

    .ra-details .ra-value{
      font-size: 14px;
      font-weight: normal;
    }
  }
}    
  
    