#rmDownloadCenter {
    #crm-menu {
        display: flex;
        column-gap: 8px;
        margin: 0;
    }

    #DownloadCenterTable {
        .ra-dc-iconstyle {
            font-size: 6px;
            display: inline-block;
            margin-right: 8px;
        }
    }

    .ra-dc-tip {
        margin-bottom: 24px;
    }
}