.reco-dashboard-soadmin-view-wrapper {

  .reco-dashboard-cards-title-layout {
    display: flex;
    justify-content: space-between;
  }

  .highlight {
    font: italic normal normal 13px/18px "Open Sans", sans-serif;
    color: #0072D0;
  }

}