<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<configuration>
  <configSections>
    <section name="dataTransfer" type="AvePoint.GCommon.Transfer.Common.DataTransferSection, CommonDataTransfer" restartOnExternalChanges="true"/>
  </configSections>
  <appSettings>
    <add key="version" value="1.0.0.2"/>
  </appSettings>
  <dataTransfer defaultDataUriSchema="net.tcp" mqUriSchema="net.tcp" relayServiceUriSchema="net.tcp" 
                fileTransferServiceUriSchema="net.tcp" streamModeServiceUriSchema="https" httpPort="14008" 
                httpCacheDataNumber="200" enableSsl="true" enableStreamMode="false" >
    <data cycleStreamSize="5242880" dataBlockCompressionMethod="ZLIB_COMPRESSION" 
          dataBlockEncryptionMethod="AES_ENCRYPTION" dataBlockProcessorBufferSize="65536" 
          dataBlockProcessorCycleStreamSize="10485760" defaultReconnectTimeout="30" maxCacheBuffer="100" 
          minReconnectTimeout="5" sendBufferSize="65536" takeDataBlockTimeout="10000" closeTimeout="3600000" disablePerformanceLogger="True" 
          enablePerformanceCounter="false" streamModeMaxSendSize="1500000000" processDataWithNewThread="true" fileCycleStreamSize="50" connectionTimeout="10"/>
    <mq isOneWayConnection="False" maxMessageTimeout="172800000" maxReconnectionTimeOut="1800" maxRetryTimes="3" 
        channelMode="WCF" noReconnectTimeOut="3" reconnectionTime="2" tempFolder="" enablePerformanceCounter="false" />
  </dataTransfer>
  <system.serviceModel>
    <services>
      <service name="AvePoint.GCommon.Transfer.MQ.Service.AveMQWCFService" behaviorConfiguration="globalDefaultServiceBehavior" >
        <endpoint name="MQ" binding="customBinding" bindingConfiguration="netTcpWithServerClientSecurityCustomBinding" 
                  contract="AvePoint.GCommon.Transfer.MQ.Interface.IMQWCFService" />
      </service>
      <service name="AvePoint.GCommon.Transfer.MQ.Service.AveMQWCFServiceOneWay" behaviorConfiguration="globalDefaultServiceBehavior" >
        <endpoint name="MQOneWay" binding="customBinding" bindingConfiguration="netTcpWithServerClientSecurityCustomBinding" 
                  contract="AvePoint.GCommon.Transfer.MQ.Interface.IMQWCFServiceOneWay" />
      </service>
      <service name="AvePoint.GCommon.Transfer.Data.Service.RelayService" behaviorConfiguration="globalDefaultServiceBehavior" >
        <endpoint name="RelayService" binding="customBinding" bindingConfiguration="netTcpWithServerClientSecurityCustomBinding" 
                  contract="AvePoint.GCommon.Transfer.Data.Interface.IRelay" />
      </service>
      <service name="AvePoint.GCommon.Transfer.Data.Service.FileTransferService" behaviorConfiguration="globalDefaultServiceBehavior" >
        <endpoint name="FileTransfer" binding="customBinding" bindingConfiguration="netTcpWithServerClientSecurityCustomBinding" 
                  contract="AvePoint.GCommon.Transfer.Data.Interface.IFileTransferService" />
      </service>
      <service name="AvePoint.GCommon.Transfer.Data.Service.StreamModeService" behaviorConfiguration="globalDefaultHTTPServiceBehavior" >
        <endpoint name="HTTPRelayService" binding="basicHttpBinding" bindingConfiguration="globalDefaultBasicHttpBindingWithStreamMode" 
                  contract="AvePoint.GCommon.Transfer.Data.Interface.IStreamRelay" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://0.0.0.0:0/replicator/MQ"
                binding="customBinding"
                bindingConfiguration="netTcpWithServerClientSecurityCustomBinding"
                behaviorConfiguration="globalDefaultEndPointBehavior"
                contract="AvePoint.GCommon.Transfer.MQ.Interface.IMQWCFService"
                name="NetTcpMq"
                />
      <endpoint address="net.tcp://0.0.0.0:0/replicator/MQOneway"
                binding="customBinding"
                bindingConfiguration="netTcpWithServerClientSecurityCustomBinding"
                behaviorConfiguration="globalDefaultEndPointBehavior"
                contract="AvePoint.GCommon.Transfer.MQ.Interface.IMQWCFServiceOneWay"
                name="NetTcpMqOneWay"
                />
      <endpoint address="net.tcp://0.0.0.0:0/replicator/FileTransfer"
                binding="customBinding"
                bindingConfiguration="netTcpWithServerClientSecurityCustomBinding"
                behaviorConfiguration="globalDefaultEndPointBehavior"
                contract="AvePoint.GCommon.Transfer.Data.Interface.IFileTransferService"
                name="NetTcpFileTransfer"
                />
      <endpoint address="net.tcp://0.0.0.0:0/replicator/DataTransfer"
                binding="customBinding"
                bindingConfiguration="netTcpWithServerClientSecurityCustomBinding"
                behaviorConfiguration="globalDefaultEndPointBehavior"
                contract="AvePoint.GCommon.Transfer.Data.Interface.IRelay"
                name="NetTcpDataTransfer"
                />
      <endpoint address="http://0.0.0.0:0/ControlCore/ControlDataTransfer.svc"
                binding="basicHttpBinding"
                bindingConfiguration="globalDefaultBasicHttpBinding"
                contract="AvePoint.GCommon.Transfer.Data.Interface.IRelay"
                name="HttpDataTransfer"
                />
      <endpoint address="net.tcp://0.0.0.0:0/replicator/DataTransfer"
                binding="customBinding"
                bindingConfiguration="netTcpWithServerClientSecurityStreamModeCustomBinding"
                behaviorConfiguration="globalDefaultEndPointBehavior"
                contract="AvePoint.GCommon.Transfer.Data.Interface.IStreamRelay"
                name="NetTcpStreamModeDataTransfer"
                />
      <endpoint address="https://0.0.0.0:0/ControlCore/ControlDataTransfer.svc"
                binding="basicHttpBinding"
                bindingConfiguration="globalDefaultBasicHttpBindingWithStreamMode"
                contract="AvePoint.GCommon.Transfer.Data.Interface.IStreamRelay"
                name="HttpStreamModeDataTransfer"
                />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="globalDefaultBasicHttpBinding"
         closeTimeout="00:05:00"
         openTimeout="00:10:00"
         receiveTimeout="01:10:00"
         sendTimeout="01:10:00"
         transferMode="Buffered"
         hostNameComparisonMode="StrongWildcard"
         maxBufferPoolSize="524288"
	 useDefaultWebProxy="false"
         maxBufferSize="2147483647"
         maxReceivedMessageSize="2147483647" allowCookies ="true">
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="2147483647" 
                        maxBytesPerRead="4096" maxNameTableCharCount="65536" />
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="globalDefaultBasicHttpBindingWithStreamMode"
         closeTimeout="00:05:00"
         openTimeout="00:10:00"
         receiveTimeout="01:10:00"
         sendTimeout="01:10:00"
	 useDefaultWebProxy="false"
         transferMode="Streamed"
         hostNameComparisonMode="StrongWildcard"
         maxBufferPoolSize="524288"
         maxBufferSize="2147483647"
         maxReceivedMessageSize="2147483647" allowCookies ="true" >
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="2147483647" 
                        maxBytesPerRead="4096" maxNameTableCharCount="65536" />
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="netTcpWithServerClientSecurityCustomBinding" closeTimeout="00:10:00"
      openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <transactionFlow transactionProtocol="OleTransactions" />
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="320" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="65536" />
          </binaryMessageEncoding>
          <XsslStreamSecurity requireClientCertificate="true" />
          <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="536870912" connectionBufferSize="4194304"
            hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
            maxBufferSize="536870912" maxPendingConnections="10" maxOutputDelay="00:00:00.2000000"
            maxPendingAccepts="1" transferMode="Buffered" listenBacklog="10"
            portSharingEnabled="true" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
              idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
          </tcpTransport>
        </binding>
        <binding name="netTcpWithServerClientSecurityStreamModeCustomBinding" closeTimeout="00:10:00"
      openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <transactionFlow transactionProtocol="OleTransactions" />
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="320" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="65536" />
          </binaryMessageEncoding>
          <XsslStreamSecurity requireClientCertificate="true" />
          <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="536870912" connectionBufferSize="4194304"
            hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
            maxBufferSize="536870912" maxPendingConnections="10" maxOutputDelay="00:00:00.2000000"
            maxPendingAccepts="1" transferMode="Streamed" listenBacklog="10"
            portSharingEnabled="true" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
              idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="globalDefaultEndPointBehavior">
          <clientCredentials>
            <clientCertificate findValue="e0 f8 c3 e9 69 97 0e 90 38 3b 70 11 21 27 b4 ca e6 bf 7e 4e"
              storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <authentication customCertificateValidatorType="AvePoint.GCommon.Transfer.Common.CustomX509CertificateValidatorForDataTransfer, CommonDataTransfer"
                certificateValidationMode="Custom" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="globalDefaultServiceBehavior">
          <serviceThrottling maxConcurrentCalls="400" maxConcurrentSessions="400" maxConcurrentInstances="800"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication customCertificateValidatorType="AvePoint.GCommon.Transfer.Common.CustomX509CertificateValidatorForDataTransfer, CommonDataTransfer"
                certificateValidationMode="Custom" />
            </clientCertificate>
            <serviceCertificate findValue="e0 f8 c3 e9 69 97 0e 90 38 3b 70 11 21 27 b4 ca e6 bf 7e 4e"
              storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="None" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="globalDefaultHTTPServiceBehavior">
          <serviceThrottling maxConcurrentCalls="400" maxConcurrentSessions="400" maxConcurrentInstances="800"/>
          <serviceAuthorization principalPermissionMode="None" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingElementExtensions>
        <add name="XsslStreamSecurity" type="AvePoint.GCommon.Utility.SslStreamSecurity.XSslStreamSecurityElement, CommonUtility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fffb45e56dd478e3" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
</configuration>