/*pop up */
#raGlobalNotificationPopup {
  max-height: 531px !important;
  .notification-space {
    width: 480px;
    height: 1px;
    margin-left: -30px;
    margin-bottom: 8px;
    background: #e6e7e8 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .notification_body_empty {
    display: flex;
    justify-content: center;
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #7d848b;
  }

  .aui-modal-header {
    border-bottom: none;
    padding-left: 8px;
    padding-right: 8px;
  }

  .aui-modal-body {
    overflow-x: hidden;
  }

  .ra-suitbar-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    padding-bottom: 0px;

    .ra-suitbar-more-a {
      text-align: left;
      font: normal normal normal 13px/18px "Open Sans", sans-serif;
      letter-spacing: 0px;
      color: #0072d0 !important;
      opacity: 1;
    }
    .ignore-link{
      display: flex;
      justify-content: flex-end;
    }
  }

  .ra-notification_suitbar {
    padding: 0 8px;
    min-height: 76px;
  }

  .margin-right-s {
    display: flex;
    justify-content: start;
  }

  .inprogress-icon {
    width: 24px;
    height: 24px;
    background-image: url(/Images/RDM/loading_24x24.gif);
    background-repeat: no-repeat;
  }
}

#raUserGuidePopup, #raUserInfoPopup {
  margin-top: 7px;

  .ra-suitbar-popupContent {
    display: flex;
    height: 42px;
    padding-left: 16px;
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    align-items: center;
    letter-spacing: 0px;
    color: #12161b;
    opacity: 1;
  }

  .ra-suitbar-popupContent:hover {
    background-color: #E7EAEB;
  }

  a:hover {
    text-decoration: none;
  }
}
.fia-triangle-down{
  font-size: 10px;
  font-weight: 400;
  color: #27313c !important;
}
