#raCPCompliantExports {
  .ce-configurator-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e8e9ea;

    .ce-component-title-main {
      font: normal normal bold 18px/24px "Open Sans", sans-serif;
      letter-spacing: -0.27px;
      color: #323e4d;
      margin-bottom: 24px;
    }

    .ce-component-title-secondary {
      font: normal normal 600 14px/19px "Open Sans", sans-serif;
      letter-spacing: -0.21px;
      color: #323e4d;
      margin-bottom: 8px;
    }

    .ce-required-input {
      color: #c91d1d;
      margin-left: 4px;
    }

    .normal-text {
      font: normal normal normal 13px/44px "Open Sans", sans-serif;
      color: #323e4d;
      margin-right: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .aui-comboboxshell-mini:hover {
      background: none;
    }

    .ce-configurator-bottom {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 8px;
      padding: 24px;
      border-top: 1px solid #e8e9ea;
    }
  }
}
