<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<configuration>
  <wrapper>
    <spAPIs>
      <spAPI id="SP2007WrapperServer" scope ="Server" version="12.0.0.0" type="AvePoint.Wrapper.Core.WrapperAPI.AveWrapperAPIUtility, SP2007WrapperServer"/>
      <spAPI id="SP2010WrapperServer" scope="Server" version="14.0.0.0" type="AvePoint.Wrapper.Core.WrapperAPI.AveWrapperAPIUtility, SP2010WrapperServer"/>
      <spAPI id="SP2013WrapperServer" scope="Server" version="15.0.0.0" type="AvePoint.Wrapper.Core.WrapperAPI.AveWrapperAPIUtility, SP2013WrapperServer"/>
      <spAPI id="AgentCommonClientRequestCommon" scope="O365" version="0.0.0.0" type="AvePoint.Wrapper.Core.WrapperAPI.AveWrapperAPIUtility, AgentCommonObjectModelCommon"/>
    </spAPIs>
    <instances>
      <instance id="backupAPI" service="AvePoint.Wrapper.Core.SPBackup.ISPBackupAPI" type="AvePoint.Wrapper.Core.SPBackup.SPBackupAPI, AgentCommonWrapperBackup" />
      <instance id="restoreAPI" service="AvePoint.Wrapper.Core.SPRestore.ISPRestoreAPI" type="AvePoint.Wrapper.Core.SPRestore.SPRestoreAPI, AgentCommonWrapperRestore" />
      <instance id="restoreAPIV2" service="AvePoint.Wrapper.Core.SPRestore.ISPRestoreAPI" type="AvePoint.Wrapper.Core.SPRestore.SPRestoreAPIV2, AgentCommonWrapperRestore" />
    </instances>
    <deployments>
      <deployment id="SP2007WrapperDeployment" scope="Server" version="12.0.0.0" type="AvePoint.Wrapper.Core.Deployment.AveDeploymentAPIUtility, SP2007WrapperDeployment" />
      <deployment id="SP2010WrapperDeployment" scope="Server" version="14.0.0.0" type="AvePoint.Wrapper.Core.Deployment.AveDeploymentAPIUtility, SP2010WrapperDeployment" />
      <deployment id="SP2013WrapperDeployment" scope="Server" version="15.0.0.0" type="AvePoint.Wrapper.Core.Deployment.AveDeploymentAPIUtility, SP2013WrapperDeployment" />
      <deployment id="O365WrapperDeployment" scope="O365" version="0.0.0.0" type="AvePoint.Wrapper.Core.Deployment.AveDeploymentAPIUtility, O365WrapperDeployment" />
      <deployment id="CSOM10WrapperDeployment" scope="O365" version="14.0.0.0" type="AvePoint.Wrapper.Core.Deployment.AveDeploymentAPIUtility, CSOM10WrapperDeployment" />
      <deployment id="CSOM13WrapperDeployment" scope="O365" version="15.0.0.0" type="AvePoint.Wrapper.Core.Deployment.AveDeploymentAPIUtility, CSOM13WrapperDeployment" />
      <deployment id="CSOM13WrapperDeploymentV16" scope="O365" version="16.0.0.0" type="AvePoint.Wrapper.Core.Deployment.AveDeploymentAPIUtility, CSOM13WrapperDeployment" />
    </deployments>
    <o365Authentications>
      <authentication id="O365Authentication" scope="*" type="AvePoint.Wrapper.Core.Deployment.CSOM13.Authentication.O365Authentication, CSOM13WrapperDeployment" />
      <authentication id="CSOM13WindowsAuthentication" scope="*" type="AvePoint.Wrapper.Core.Deployment.CSOM13.Authentication.O365WindowsAuthentication, CSOM13WrapperDeployment" />
      <authentication id="CSOM13FormsAuthentication" scope="*" type="AvePoint.Wrapper.Core.Deployment.CSOM13.Authentication.O365FormsAuthentication, CSOM13WrapperDeployment" />
      <authentication id="CSOM10WindowsAuthentication" scope="*" type="AvePoint.Wrapper.Core.Deployment.CSOM10.Authentication.O365WindowsAuthentication, CSOM10WrapperDeployment" />
      <authentication id="CSOM10FormsAuthentication" scope="*" type="AvePoint.Wrapper.Core.Deployment.CSOM10.Authentication.O365FormsAuthentication, CSOM10WrapperDeployment" />
    </o365Authentications>
  </wrapper>
</configuration>