<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<Components>
  <Component name="fs_vim" assembly="StorageFS" type="Storage.FS.FSSystemFactory" IsCacheSpaceInfo ="false" IsCheckFreeSpace ="true"/>
  <Component name="ftp_vim" assembly="StorageFTP" type="Storage.FTP.FTPSystemFactory" />
  <Component name="azure_vim" assembly="StorageCloudAzure" type="Storage.Cloud.Azure.AzureSystemFactory"/>
  <Component name="sftp_vim" assembly="StorageSFTP" type="Storage.SFTP.SFTPSystemFactory" />
  <Component name="amazon_vim" assembly="StorageCloudAmazon" type="Storage.Cloud.Amazon.AmazonSystemFactory" />
  <Component name="s3compatible_vim" assembly="StorageS3Compatible" type="Storage.S3Compatible.S3CompatibleSystemFactory" />
  <Component name="dropbox_vim" assembly="StorageCloudDropbox" type="Storage.Cloud.Dropbox.DropboxSystemFactory" IsCacheSpaceInfo ="false" IsCheckFreeSpace ="true"/>
  <Component name="google_vim" assembly="StorageCloudGoogle" type="Storage.Cloud.Google.GoogleSystemFactory" IsCacheSpaceInfo ="false" />
</Components>