.reco-dashboard-records-status-wrapper {
    .reco-dashboard-records-status-top-section{
        display:  flex;
        justify-content: space-between;
        font: normal normal 600 13px/18px "Open Sans", sans-serif;
    }
}