.ra-hold-expiry-email-form{
  .reminder-unit{
    display: flex;
    align-items: center;
    height:36px;
  }
  .notification-recipients-title{
    font-size: 13px;
  }
}

.reco-optimize-title {
    margin-bottom: 8px;
    font: normal normal 600 14px/19px Open Sans;
    color: #323E4D;
}

.workspace-item {
  max-width: 350px;
}