.reco-optimize-content {

  .reco-optimize-option {
    margin-bottom: 24px;

    .reco-optimize-stub {
      margin-left: 30px;
    }

    .reco-optimize-datepicker {
      margin: 8px 0 0 30px;
    }
  }

  .reco-optimize-switch {
    display: flex;
    column-gap: 8px;
    margin-bottom: 8px;

    .reco-optimize-switch-text {
      font: normal normal 600 14px/19px Open Sans;
      color: #323E4D;
    }
  }

  .reco-optimize-title {
    margin-bottom: 8px;
    font: normal normal 600 14px/19px Open Sans;
    color: #323E4D;
  }

  .reco-optimize-title-font {
    font: normal normal 600 14px/19px Open Sans;
    color: #323E4D;
  }

  .aui-expander {
    border: 1px solid #e6e7e8 !important;
    border-radius: 4px !important;
  }

  .reco-optimize-deleteToRecycleBin {
    margin-left: 30px;
  } 
}

.reco-optimize-import-download {
  margin-bottom: 24px;
  
  .reco-optimize-import-download-span {
    font: normal normal 600 14px/19px "Open Sans", sans-serif;
    color: #0072D0;
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }  
}

.reco-optimize-import-title {
  margin-bottom: 8px;
  font: normal normal 600 14px/19px "Open Sans", sans-serif;
  color: #27313C;
}