<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<Actions>
  <SupportedActions>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWWorkflowVariablesAdapter" ProcessorType="LS.SPWorkflowProcessor.NWRootActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.WFSequenceAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSequenceActivityActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPCheckOutItemWithKeyAdapter" ProcessorType="LS.SPWorkflowProcessor.NWCheckOutItemActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWCheckInItemWithKeyAdapter" ProcessorType="LS.SPWorkflowProcessor.NWCheckInItemActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWFilterAdapter" ProcessorType="LS.SPWorkflowProcessor.NWFilterActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWLoopAdapter" ProcessorType="LS.SPWorkflowProcessor.NWLoopActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWRunIf2Adapter" ProcessorType="LS.SPWorkflowProcessor.NWRunIfActoinProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWStateMachine2Adapter" ProcessorType="LS.SPWorkflowProcessor.NWStateMachineActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.WFIfElseAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSetAConditionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.WFIfElseBranchAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSequenceActivityActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWStateChangeAdapter" ProcessorType="LS.SPWorkflowProcessor.NWChangeStateActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWSendMessageAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSendEmailActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.WFParallelAdapter" ProcessorType="LS.SPWorkflowProcessor.NWRunParallelActionsActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWSwitchAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSwitchActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWSwitchBranchAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSequenceActivityActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWCalculateDateAdapter" ProcessorType="LS.SPWorkflowProcessor.NWCalculateDateProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPUndoCheckOutItemWithKeyAdapter" ProcessorType="LS.SPWorkflowProcessor.NWDiscardCheckOutItemActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPDeleteItemWithKeyAdapter" ProcessorType="LS.SPWorkflowProcessor.NWDeleteItemActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPCopyItemWithKeyAdapter" ProcessorType="LS.SPWorkflowProcessor.NWCopyItemActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWCreateItemWithContentTypesAdapter" ProcessorType="LS.SPWorkflowProcessor.NWCreateItemActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPUpdateItemWithKeyAdapter" ProcessorType="LS.SPWorkflowProcessor.NWUpdateListItemActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWForEachLoopAdapter" ProcessorType="LS.SPWorkflowProcessor.NWForeachActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWWebRequestAdapter" ProcessorType="LS.SPWorkflowProcessor.NWWebRequestActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWDelayForAdapter" ProcessorType="LS.SPWorkflowProcessor.NWPauseForAtionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPDelayUntilAdapter" ProcessorType="LS.SPWorkflowProcessor.NWPauseUntilProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPMathAdapter" ProcessorType="LS.SPWorkflowProcessor.NWMathOperationProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPSetCustomWorkflowStatusAdapter"  ProcessorType="LS.SPWorkflowProcessor.NWSetWorkflowStatusActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWBuildStringAdapter" ProcessorType="LS.SPWorkflowProcessor.NWBuildStringProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWParseValueAdapter" ProcessorType="LS.SPWorkflowProcessor.NWConvertValueProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWSetModerationStatusAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSetApprovalStatusActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPSetVariableAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSetVariableProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWWriteToHistoryListAdapter" ProcessorType="LS.SPWorkflowProcessor.NWLogInHistoryListProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPSetContentApprovalStatusForDocumentSetAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSetDSApprovalStatusActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWApproverAdapter"  ProcessorType="LS.SPWorkflowProcessor.NWRequestApprovalActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWApproverBranchAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSequenceActivityActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.WFTerminateAdapter" ProcessorType="LS.SPWorkflowProcessor.NWEndWorkflowProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWCancelWorkflowAdapter"  ProcessorType="LS.SPWorkflowProcessor.NWTerminateWorkflowActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWCollectionAdapter" ProcessorType="LS.SPWorkflowProcessor.NWCollectionOperationProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWStartWorkflow2Adapter" ProcessorType="LS.SPWorkflowProcessor.NWStartWorkflowProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWRegularExpressionAdapter" ProcessorType="LS.SPWorkflowProcessor.NWRegularExpressionProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWMultiOutcomeAdapter" ProcessorType="LS.SPWorkflowProcessor.NWAssignFlexiTaskActionProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWAssignTodoTaskAdapter" ProcessorType="LS.SPWorkflowProcessor.NWAssignToDoTaskActionProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWReviewAdapter" ProcessorType="LS.SPWorkflowProcessor.NWRequestReviewActionProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWBusinessProcessAdapter" ProcessorType="LS.SPWorkflowProcessor.NWActionSetActionProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPSetFieldWithKeyAdapter" ProcessorType="LS.SPWorkflowProcessor.NWSetFieldValueActionProcessor"/>
    <Action ActionType="Nintex.Workflow.Activities.Adapters.SPWaitForWithKeyAdapter" ProcessorType="LS.SPWorkflowProcessor.NWWaitForItemUpdateActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWQueryUserProfileStoreAdapter" ProcessorType="LS.SPWorkflowProcessor.NWQueryUserProfileActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWQueryListAdapter" ProcessorType="LS.SPWorkflowProcessor.NWQueryListActionProcessor" />
    <Action ActionType="Nintex.Workflow.Activities.Adapters.NWSetItemPermissions" ProcessorType="LS.SPWorkflowProcessor.NWSetItemPermissionsActionProcessor" />
  </SupportedActions>
  <SkipActions>
  </SkipActions>
  <NotSupportedActions>
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCommitAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWGetUsersByStatusAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWGetUserStatusAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateWeb2Adapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDeleteWeb2Adapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWReadDocumentAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWConvertDocumentAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCRMBaseAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWUpdateCRMRecordAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWUpdateDocumentAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPWaitForDocumentStatusAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.GenericRenderingAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCopyToSharepointSite2Adapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateList2Adapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPDeletePreviousVersionsAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWRetrieveDataAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateCRMEntityRecordAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDeleteCRMEntitiesAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDisableCRMEntitiesAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWQueryCRMEntitiesAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPDeleteDraftsAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWStoreDataAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateSiteSpecificItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDeleteMultipleItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWGetMeetingSuggestionsAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWUpdateMultipleItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPImpersonationSequenceAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWPublishPendingWorkflowAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWExchangeCreateItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWExchangeCreateAppointmentAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWExchangeCreateTaskAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWState2Adapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPCaptureVersionOfDocumentSetAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPSendDocumentSetToRepositoryAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPSendDocumentToRepositoryAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPUndeclareRecordAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDeleteSiteCollectionAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateSiteCollectionAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWUpdateXmlAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWMOSSSearchQueryAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWBDCQueryAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCompileAudienceAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateAudienceAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDeleteAudienceAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCompleteNWTaskAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCollectDataAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDeleteADSecurityGroupAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWIterateAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCheckInItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDecommissionUserAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWProvisionExchangeUserEmailAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWAddUserToADGroupAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateADSecurityGroupAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWEnableLCSOnADAccountAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWRemoveUserFromADGroupAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWSendReceiveMessageAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWTaskReminderAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDelegateNWTaskAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWReadXmlAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWUpdateADAccountAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWQueryExcelWebServiceAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWSubmitRecordAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWUpdateUserProfileAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWStateAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWStateMachineAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateADAccountAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWRunIfAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWRunSqlAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWSetModerationStatusAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWStartWorkflowAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateListAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWQueryLdapAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWApproverBranchAdapter" />

    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCallWebServiceAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCopyToFolderAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCopyToSharepointSiteAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCreateWebAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWDeleteWebAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPCheckInItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPCheckOutItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPCopyItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPCreateItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPDelayForAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPDeleteItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPSetFieldAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPUndoCheckOutItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPUpdateItemAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.SPWaitForAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.WFWhileAdapter" />
    <Action ProcessorType="Nintex.Workflow.UserDefinedActions.UserDefinedActionAdapter" />
    <Action ProcessorType="Nintex.Workflow.UserDefinedActions.UserDefinedActionWrapperAdapter" />
    <Action ProcessorType="Nintex.Workflow.Activities.Adapters.NWCopyToFolderAdapter" />
  </NotSupportedActions>
</Actions>