.opus-common-sample-table-row {
  display: flex;
  align-items: center;
  background: #f2f3f4 0% 0% no-repeat padding-box;
  height: 44px;
  margin-bottom: 2px;
  padding-inline: 16px;
  gap: 24px;
}

.opus-common-sample-table-empty-row {
  justify-content: center;
  
}
