
#raTemplateSettings {
    #mainContainer {
        position: relative;
    }
    

    // .wrapper-underline {
    //     width: 26px;
    //     margin-bottom: 20px;
    //     border-bottom: 2px solid #6699DD;
    //     white-space: nowrap;
    // }

    // .page-title {
    //     padding: 6px 0;
    //     font-size: 20px;
    //     font-family: 'Segoe UI';
    // }

    // #settingsContainer {
    //     padding: 32px 0 30px 32px;
    //     margin-bottom: 23px;
    //     background-color: #F1F1F1;
    // }
    .setting-title{
        font: normal normal bold 15px/20px "Open Sans", sans-serif;
        color: #323E4D;
    }

    .settings-desc {
        margin-bottom: 27px;
        font-size: 16px;
        font-weight: bold;
        font-family: "Segoe UI", sans-serif;
    }

    .input-label {
        margin-top: 8px;
        margin-bottom: 8px;
        font: normal normal 600 13px/18px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #323E4D;
    }

    // #columnsContainer {
    //     min-height: 420px;
    //     padding: 30px;
    //     background-color: #F1F1F1;
    // }

    .columns-title {
        margin-bottom: 8px;
        font: normal normal bold 15px/20px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #323E4D;
    }

    .columns-desc {
        margin-bottom: 10px;
        font-size: 14px;
        font-family: "Segoe UI", sans-serif;
        letter-spacing: 0;
        color: #707070;
    }

    #new_category_container {
        width: 100%;
        margin-bottom: 24px;
        #category_input {
            display: inline-block;
            width: calc(100% - 126px);
            border-radius: 3px;
        }
        .btn-category {
            width: 118px;
            margin-left: 8px;
            border-radius: 4px
        }
    }

    .column_add_content {
        width: 100%;
        margin-top: 2px;
        margin-bottom: 16px;
        text-align: center;
        border: 1px dashed #D4D6D8;
        font: normal normal 600 13px/40px "Open Sans", sans-serif;
        color: #323E4D;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px !important;
    }

    .column_add_icon {
        display: inline-block;
        margin-right: 8px;
    }

    .icon-option-item {
        font: normal normal normal 13px/14px;
        letter-spacing: 0px;
        color: #323E4D;
    }

    #btnNewCategory {
        margin-bottom: 20px;
    }

    #btnSaveAndCancel {
        margin-top: 32px;
        text-align: right;
    }

    .category-content {
        // padding: 32px 0 32px 32px;
        position: relative;
        font-size: 14px;
        font-family: "Segoe UI", sans-serif;
        letter-spacing: 0;
        color: #707070;
    }

    .category-label {
        display: inline-block;
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        white-space: nowrap;
        font: normal normal bold 13px/34px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #323E4D;
    }

    .category-btn-group {
        position: absolute;
        right: 0;
    }

    .category-btn {
        width: 30px;
        display: inline-block;
    }

    .btn-newColumn {
        margin-left: 10px;
    }

    .btn-edit {
        letter-spacing: 0;
        color: #707070;
    }

    .btn-check-square {
        font-size: 16px;
        letter-spacing: 0;
        color: #4C5966;
    }

    .btn-square {
        display: inline-block;
        border: 1px solid #4C5966;
        border-radius: 2px;
        width: 14px;
        height: 14px;
        background-color: #fff;
    }

    .btn-delete {
        letter-spacing: 0;
        color: #707070;
    }

    .aui-expander-title {
        border-left: none !important;
        min-height: 34px !important;
        padding-left: 8px;
        
    }

    .aui-expander-panel>div {
        padding: 0 !important;
    }
}
#PhyUnieueIdDialog {
    .phy-uniqueid-dialog-image {
        width: 34px;
        height: 34px;
        float: left;
        font-size: 32px;
        overflow: hidden;
        text-align: center;
        line-height: 34px;
        margin: 0 15px 0 20px;
    }

    .phy-uniqueid-dialog-text {
        height: 100%;
        margin-left: 68px;
        overflow-y: auto;
        word-break: normal;
        word-wrap: break-word;
        white-space: normal;
    }
}

#rmTemplateManagementNew {
    .ra-splitter-form {
        min-width: 654px;
        height: calc(100% - 142px) !important;
    }

    #suiteStructure .ra-form-label {
        margin-top: 10px;
    }

    .ra-validation-msg {
        margin-top: 4px;
    }
    
    .navbar-actions-button {
      display: flex;
      column-gap: 8px;
    }

    .tm-settings-footer-button {
      display: flex;
      justify-content: end;
      column-gap: 8px;
    }
}

#raTemplateSettingsDetail, #raSuiteSettingsDetail {
    margin: -16px -24px;
    .category-content {
        // padding: 32px 0 32px 32px;
        position: relative;
        font-size: 14px;
        font-family: "Segoe UI", sans-serif;
        letter-spacing: 0;
        color: #707070;
    }

    .category-label {
        display: inline-block;
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        white-space: nowrap;
        font: normal normal bold 13px/34px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #323E4D;
    }

    .aui-expander-title {
        border-left: none !important;
        min-height: 34px !important;
        padding-left: 24px;
        
    }

    .aui-expander-panel>div {
        padding: 0 !important;
    }

    .detail-content {
        padding: 0 24px 24px 24px;
    }
}

#tmContainer {
    .rmTemplateManagementTree{
        display: flex;
        flex-direction: column;
        height: calc(100% - 71px);
        padding: 16px 0 0 16px;
    }
    .ra-splitter-left .ra-splitter-head-title{
        width: 100%;
        border-bottom:  1px solid #e7eaeb;
    }
    .ra-treeview {
        height: calc(100vh - 286px);
        overflow: auto;
        //flex: 1 1 auto;
      }
    .ra-splitter-folder {
        display: inline;
        margin-right: 6px;
    }
    .back-icon {
        margin-right: 18px;
        cursor: pointer;
    }
    .header-name-row {
        line-height: none;
        margin: 0 0 25px 24px;
        overflow: hidden;
        .row-left {
            float: left;
            font: italic normal normal 13px/18px "Open Sans", sans-serif;
            letter-spacing: 0px;
            color: #0072D0;
            display: flex;
            align-items: center;
        }
        .row-right {
            float: right;
            margin-right: 20px;
            color: #0072D0;  
        }
        .type-icon {
            margin-right: 6px;
        }
        .edit-icon {
            cursor: pointer;
        }
    }

    .custom-table-main {
        margin-top: 16px;
        .item-row {
            display: flex;
            width: 100%;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            height: 44px;
            background: #F2F3F4 0% 0% no-repeat padding-box;
            border-radius: 4px;
            margin-bottom: 2px;
        }
        .item-cell {
            flex: 0 1 auto;
            padding-left: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .aui-comboboxshell-mini.aui-comboboxshell-selected {
            background: none;
        }
        .aui-comboboxshell-mini:hover {
            background: none;
        }
        .normal-text {
            font: normal normal normal 13px/44px "Open Sans", sans-serif;
            color: #323E4D;
        }
        .btn-group {
            text-align: right;
            padding-right: 16px;
        }
    }
}

#bmContainer {
    .barcode-management-wrapper {
        width: 100%;
        background: #fff;
        border: 1px solid #E8E9EA;
        border-radius: 8px;
    }

    .barcode-management-search-section {
        width: 100%;
        border-bottom: 1px solid #E8E9EA;
        padding: 24px;
    }

    .barcode-management-actions-section {
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;

        #crm-menu {
            display: flex;
            gap: 8px;
        }

        .barcode-management-format {
            color: #707174;
        }
    }

    .barcode-management-pager-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
    }
}