#gloable-search {
    .ra-globalSearch-searchBox {
        position: absolute;
        left: 70px;
        top: 123px;
        width: calc(100% - 120px);
        float: right;
    }

    .table-foot {
        margin-top: 8px;
    }

    .table-foot-left {
        display: inline-block;
        height: 32px;
        line-height: 32px;
    }

    .table-foot-right {
        float: right;
        margin-top: 13px;
    }


    .button .button-default .aui-comboboxshell-button {
        min-width: 50px !important;
        width: 60px !important;
    }

    .navbar {
        margin-bottom: 16px;
        overflow: hidden;
    }

    .navbar-left {
        float: left;
    }

    .navbar-right {
        float: right;
    }

    .ra-lock-head {
        font-size: 10px;
        position: absolute;
        bottom: 0;
        left: 8px;
        z-index: 1;
    }
    
    .ra-lock-shadow {
        font-size: 10px;
        position: absolute;
        bottom: 1px;
        left: 7px;
    }

    .ra-lock-head:before {
        color: #ec9e21;
    }

    .ra-lock-shadow:before {
        color: #fff;
    }
}

#raGlobalSearchFilterForm {
  .class-selector {
    position: relative;
    width: 300px;
    height: 38px;
    border: 1px solid #ddd;
    background-color: #fff;
  }

  .class-selector-value {
    height: 100%;
    line-height: 36px;
    padding-left: 8px;
    padding-right: 32px;
  }

  .class-selector-value:hover {
    border: 1px solid #0079DD
  }

  .class-selector-icon {
    position: absolute;
    right: 8px;
    top: 11px;
    font-size: 16px;
  }
}

.ra-globalSearch-type-form {
  .filter-type-mul {
    display: block;
    margin: 8px 0 0 30px;
  }

  .filter-otherTypes {
    margin-left: 30px;
    width: 300px;
  }

  .filter-otherTypes-title {
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0 8px 0
  }
}

#raGlobalSearchModifiedDateForm {
  .before-date, .end-date, .time-frame-date {
    margin:8px 0 0 30px;
    display: block;
  }

  .modify-start-time, .modify-start-to, .modify-end-time {
    display: inline-block;
    vertical-align: middle;
  }

  .modify-start-to {
    margin: 0 5px;
  }
}

.filterSeparator {
  float: right;
  height: 34px;
  width: 1px;
  border-left: 1px solid;
  border-color: #ddd;
  margin-left: 16px;
}

.filterControl {
  float: right;
  margin-left: 16px;
}

#permissionBtnGroup{
  float: left;
  margin-left: 0px;
}