#raImportPhysicalData {
    .ra-section-head>span {
        vertical-align: middle;
    }
    .upload-files-title {
        margin-top: 16px;
    }
    .upload-title {
        margin-bottom: 8px;
    }
    .upload-filesize {
        margin-left: 8px;
        color: #aaa;
    }
    .template-down-icon {
        margin-right: 8px;
        color: #008a2a;
    }
}
