/*Covered by AvePoint copyright and license agreement*/
/* Code Review Whole File */
#rmLocationManagement {
  margin-bottom: 0;
  #rmLocationManagementTree{
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  #location-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  #treeview {
    height: 100%;
    overflow: auto;
    display: inline-block;
    // flex: 1 1 auto;
  }

  .ra-splitter-search{
    border-bottom:  1px solid #e7eaeb
  }

  #spaceSettings {
    margin-left: 20px;
  }

  .popup-content {
    height: 94px;
  }

  .popup-content-TermSetheight {
    height: 65px;
  }

  .ra-form-content .aui-checkbox{
    margin-right: 0px;
  }

  .ra-splitter-form {
    min-width: 654px;
    height: calc(100% - 142px) !important;
  }
  .normal-label-font1 {
    font: normal normal bold 13px/18px "Open Sans", sans-serif;
    color: #323E4D;
  }

  .normal-label-font2 {
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #323E4D;
  }
 
  .tm-red {
    color: red;
    vertical-align: top;
    margin-right: 5px;
    display: inline-block !important;
  }

  .aui-choice-label {
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #323E4D;
  }

  .tm-settings-footer-button {
    display: flex;
    justify-content: end;
    column-gap: 8px;
  }
}
