﻿#raManageHoldContainer {
    #raHoldSection {
    }

    .section-table {
        padding-bottom: 16px;
        margin-bottom: 24px;
        background-color: #fff;
    }

    .navbar {
        margin-bottom: 16px;
        overflow: hidden;
    }

    .navbar-left {
        margin-left: 0px;
        float: left;
    }

    .navbar-right {
        float: right;
    }

    .navbar-actions {
        display: flex;
        column-gap: 8px;
        .nav-btn{ 
            background-color: #fff;
        }
    }

    .navbar-search {
        display: inline-block;
        vertical-align: middle;
    }

    .table-foot {
        margin-top: 8px;
    }

    .table-foot-left {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding-left: 18px;
    }

    .table-foot-right {
        float: right;
    }

    a {
        cursor: pointer;
    }
}

