#moveTree,
#phyMoveTree{
    .aui-radio{
        font-weight: 400;
    }
    
    .conflict-setting-div{
        font-weight: 600;
    }

    .conflict-setting-span{
        font-weight: 700;
        display: inline-block;
        margin: 24px 0 8px 0;
    }
}

