/*Covered by AvePoint copyright and license agreement*/
/* Code Review Whole File */
#rmPhysicalRecordsBulkImport {
    position: relative;

    #container {
        padding: 10px 25px;
        position: relative;
    }

    #import {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    #import .button {
        margin-left: 0;
    }

    #importFileForm {
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    #choosefile {
        opacity: 0;
    }

    #downloadTemplate {
        margin-left: 5px;
        margin-bottom: 10px;
        display: inline-block;
    }

    #downloadTemplate .ra-iconbtn {
        color: #0026b3;
    }
    #selectedImportFile {
        vertical-align: middle;
        margin-left: 15px;
        font-size: 14px;
        color: #0026b3;
    }

    #delSelectedFile{
        margin-left: 5px;
        cursor: pointer;
    }
    
    #btnGroups {
        position: fixed;
        right: 25px;
        bottom: 25px;
    }
    .ra-page-content1{
        font-size:14px !important;
        display: inline-block;
    }
    .ra-page-title1.ra-require{
        margin:10px 0 !important;
    }
    .ra-page-title1{
        font-size:14px !important;
    }
}
