#reclassify-content {
    a {
        cursor: pointer;
    }

    .change-term-row {
      margin-bottom: 24px;
    }
    .reclassify-form{
      display: flex;
      flex-wrap: nowrap;
      height: 100%;
      overflow: hidden;
    }
    .reclassify-right{
      width: 100%;  
    }
    .change-term-title {
        margin-bottom: 8px;
        font: normal normal 600 13px/18px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #323E4D;
        opacity: 1;
    }

    .change-term-value {
        width: 292px;
        display: inline-block;
        font: normal normal normal 13px/18px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #323E4D;
        opacity: 1;
        vertical-align: top;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .right-term-panel {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding-left: 16px;
    }

    .right-rule-panel {
        display: inline-block;
        width: 100%;
        height: calc(100vh - 250px);
        vertical-align: top;
        overflow: auto;
    }

    .reclassify-title{
        margin-bottom: 16px;
        vertical-align: top;
        font-weight: 600;
    }

    .reclassify-back-btns{
        position: relative;
        top: -4px;
    }

    .term-tree-title{
        display: inline-block;
        vertical-align: top;
        font: normal normal 600 13px/18px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #323E4D;
        opacity: 1;
    }

    .right-info-title{
        width: 100%;
        margin-bottom: 16px;
        font: normal normal 600 13px/18px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #323E4D;
        opacity: 1;
    }
    .term-span{
        margin-left: 16px;   
    }

    .rule-info-title{
        display: inline-block;
        vertical-align: top;
    }

    .tree-view-container {
        display: inline-block;
        width: 292px;
        height: calc(100vh - 250px);
        padding-top: 12px;
        border-radius: 8px;
        background-color: #F2F3F4;
        overflow: auto;
    }

    .table-pager {
        padding: 10px 0;
    }

    .table-foot-left {
        float: left
    }

    .table-foot-right {
        float: right
    }
    .change-rule-value{
      display: flex;
      height: 30px;
    //   justify-content: space-between;
      align-items: center;
      padding-left: 12px;
      padding-right: 8px;
    }
    .rule-name{
      width: 120px;
      display: inline-block;
      font: italic normal normal 13px/18px "Open Sans", sans-serif;
      letter-spacing: 0px;
      color: #0079DD;    
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;  
    }
    .rule-level{
      width: 150px;
      flex-wrap: wrap;
      text-align: right;
      font: normal normal normal 13px/18px "Open Sans", sans-serif;
      letter-spacing: 0px;
      color: #323E4D;
      opacity: 1;
    }
}

.reclassify-panel{
    margin-top:0;
}