.ra-template-container {
    height: calc(100% - 32px);
}

.ra-template-header{
    margin-top:10px;
}

.ra-headIcon-button {
    margin-left: 25px;
}

.ra-headIcon-button span {
    color: #585858;
}


.ra-template-edit {
    float: right;
    margin-right: 10px;
}

#ra-template-content {
    margin-top: 30px;
    margin-left: 30px;
    /*font-size: 18px;
    font-weight: 600;
    line-height: 18px;*/
    text-align: left;
    font: Bold 16px/21px "Open Sans", sans-serif;
    letter-spacing: 0.33px;
    color: #6699DD;
    opacity: 1;
}

.ra-template-bottom {
    margin-top: 32px;
}

.ra-template-createrInfo, .ra-template-createrTimeInfo, .ra-template-modifyInfo, .ra-template-modifyTimeInfo {
    display: inline-block;
}

.ra-template-creater, .ra-template-createdTime, .ra-template-modify, .ra-template-modifyTime {
    margin-left: 33px;
    font: lighter 14px/19px "Open Sans", sans-serif;
    letter-spacing: 0.29px;
    color: #AAAAAA;
    opacity: 1;
}

.ra-template-creater-value, .ra-template-createdTime-value, .ra-template-modify-value, .ra-template-modify-value {
    margin-top: 10px;
    margin-left: 33px;
    text-align: left;
    font: normal 14px/19px "Open Sans", sans-serif;
    letter-spacing: 0.29px;
    color: #707070;
    opacity: 1;
}