#raTemplateManagement {
    .ra-section {
        padding-top: 10px;
        height: calc(100% - 32px);
    }

    .ra-section-head {
        margin-bottom: 14px;
    }

    .ra-template-type {
        display: inline-block;
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.33px;
        color: #6699DD;
    }

    .ra-template-info-label {
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 0.29px;
        color: #AAA;
    }

    .ra-template-info-value {
        margin-top: 8px;
        font-size: 14px;
        letter-spacing: 0.29px;
        color: #707070;
    }
}

#templateSuiteMain, #templateMain{
    .ra-section {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        height: calc(100% - 32px);
    }
    .navbar {
        overflow: hidden;
    }

    .navbar-left {
        float: left;
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #6699DD;
    }

    .navbar-right {
        float: right;
    }

    .navbar-actions {
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-search {
        display: inline-block;
        vertical-align: middle;
    }

    .template-card-main{
        padding-top: 8px !important;
        cursor: pointer;
    }

    .template-card-body{
        height: 140px;
        position: relative;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    .template-card-body-empty{
        height: 160px;
        position: relative;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .temp-info-main-empty{
        width: calc(100% - 100px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #B5B5B5;
        border-radius: 2px;
    }
    .template-card-footer{
        position: relative;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: #F7F7F7;
        padding-left: 24px;
        .aui-buttongroup{
            background-color: #F7F7F7;
            vertical-align: top;
        }
    }

    .temp-info-footer-time{
        font-family: "Segoe UI", sans-serif;
        font-size: 13px;
        font-style: italic;
        color: #868F96;
    }

    .info-left{
        height: 60px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #6699DD;
        display: inline-block;
        width: calc(100% - 46px);
    }

    .info-right{
        position: absolute;
        top: 0px;
        right: 0;
    }

    .info-label{
        max-width: calc(100% - 32px);
        display: inline-block;
        // height: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .aui-popover{
        position: absolute;
        top: -6px;
    }

    .template-card-header{
        position: relative;
        width: 100%;
        height: 40px;
        line-height: 32px;
        padding-left: 24px;
        margin-bottom: -20px;
        .info-right{
            top: 0px;
        }
    }

    .template-card-header-record{
        margin-bottom: 0px;
    }

    .template-card-main-record{
        cursor: auto;
    }
    
    .temp-info-main{
        width: calc(100% - 32px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #B5B5B5;
        border-radius: 2px;
    }
    .temp-info-row{
        height: 34px;
        line-height: 34px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #27313C;
        padding: 0 10px;
        border-bottom: 1px solid #B5B5B5;
    }

    .temp-nodata-info{
        margin: 150px auto;
        text-align: center;
        color: #171D24;
    }
    
    .temp-info-left{
        float: left;
    }
    .temp-info-right{
        float: right;
    }
    .icon-tip-info{
        font-size: 12px;
        color: #C2C5C8;
    }
    
    .bbn{
        border-bottom: none;
    }
    .bn{
        border: none;
    }
    .h0{
        height: auto !important;
    }
    .h50{
        height: 50px;
    }
    .underLine{
        text-decoration-line: underline;
        cursor: pointer;
    }
    #templateCardContainer{
        max-height: 610px;
        padding: 1px 0;
        // border: 1px solid blue;
        overflow: auto;
    }
    .pl0{
        padding-left: 0;
    }
    .pr0{
        padding-right: 0;
    }
}

#uniqueId-panel-container {
    .unique-id-settings-title {
        margin-top: 20px;
        margin-bottom: 18px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Segoe UI", sans-serif;
        letter-spacing: 0.33px;
        color: #4C5966;
    }

    .unique-id-settings-block {
        margin-top: 18px;
    }

    .input-label {
        margin-top: 20px;
        margin-bottom: 8px;
        font-size: 15px;
        font-family: "Segoe UI", sans-serif;
        letter-spacing: 0.33px;
        color: #555555;
    }
}

.template-import-download {
  margin-bottom: 24px;
  font: normal normal 600 14px/19px "Open Sans", sans-serif;
  color: #0072D0;
  cursor: pointer;
}

.template-import-download-span:hover {
  text-decoration: underline;
}

.template-import-title {
  margin-bottom: 8px;
  font: normal normal 600 14px/19px "Open Sans", sans-serif;
  color: #27313C;
}