/*Covered by AvePoint copyright and license agreement*/
/* Code Review Whole File */
#rmUpdateRecordLocation {
    .term-sync-box {
        position: relative;
        bottom: 1px;
        display: none;
        width: calc(100% - 50px);
        min-height: calc(100% - 100px);
        padding: 0 0 99px 25px;
    }

    .term-sync-tips {
        padding: 10px 0;
        color: #1c1c1c;
        font-size: 14px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 400;
    }

    .term-sync-option {
        padding: 10px 0 15px;
        color: #1c1c1c;
        font-size: 14px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
    }

    .term-sync-mustFill-icon {
        margin-right: 3px;
        color: red;
    }

    .term-sync-bottom-btns {
        position: absolute;
        bottom: 25px;
        left: -30px;
        width: 100%;
        text-align: right;
    }

    .term-sync-bottom-btns div {
        display: inline-block;
        height: 30px;
        min-width: 65px;
        padding: 0 10px;
        margin: 0 5px;
        cursor: pointer;
        line-height: 30px;
        color: #333;
        font-size: 14px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        text-align: center;
        border: 1px solid #686868;
    }

    .term-sync-bottom-btns div:hover {
        border-color: #185599;
        color: #185599;
    }

    .term-sync-bottom-btns div:focus {
        border-color: #185599;
        color: #185599;
    }

    .term-sync-bottom-btns div.term-sync-bottom-btn-save {
        background: #0079DD;
        color: #fff;
        border-color: #0079DD;
    }

    .term-sync-bottom-btns div.term-sync-bottom-btn-save:hover {
        background-color: #185599;
        border-color: #185599;
    }

    .term-sync-bottom-btns div.term-sync-bottom-btn-save:focus {
        background-color: #185599;
        border-color: #185599;
    }
}
