.ra-rule-detail-panel{
  .ra-rd-rule-setting-title{
      margin: 24px 0 8px 0;
      font-weight: 600;
  }
   
  .fia-physical-record::before,
  .fia-fs::before,
  .fia-sharepoint::before,
  .fi-ms-azure-file-share::before,
  .fia-connecter::before{
      font-size: 18px;
  }

  .fia-physical-record::before {
    color: #0072D0 !important;
  }

  .fia-box-blue-b{
    font-size: 18px;
  }

  .ra-details{
    margin-top: 0;
  }

  .ra-criteria {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .aui-tabs-bars {
    width: 476px;
  }
}