.opus-wizard-process-step {
	display: flex;
	align-items: center;
	gap: 8px;

	.stepper-count {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 100px;
		border: 2px solid #e8e9ea;
		font-weight: 600;
		font-size: 14px;
		box-sizing: border-box;
	}

	.fia-check{
		color: #fff;
	}

	.selected-count {
		border: 2px solid #0072d0;
	}

	.completed-count {
		background-color: #0072d0;
		border: none;
	}

	.selected-text {
		font-weight: 700;
	}
}
