<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<configuration>
  <WrapperQueryMonitor>
    <IsMonitorEnable>false</IsMonitorEnable>
    <LogFileSize>5</LogFileSize>
    <LogFileCount>5</LogFileCount>
    <CheckInterval>10</CheckInterval>
  </WrapperQueryMonitor>
  <WrapperQueryService>
    <ConnectTimeout>180</ConnectTimeout>
    <CommandTimeout>300</CommandTimeout>
  </WrapperQueryService>
  <WrapperCommon>
    <OpenBinaryStream>2</OpenBinaryStream>
    <EnableADFS>False</EnableADFS>
    <TempFileSize>20</TempFileSize>  <!-- 20G-->
  </WrapperCommon>
  <BPOS-S>
    <HttpWebRequestTimeout>1200000</HttpWebRequestTimeout>
    <HttpCreateWebRequestTimeout>1200000</HttpCreateWebRequestTimeout>
    <HttpWebRequestReadWriteTimeout>1800000</HttpWebRequestReadWriteTimeout>
    <UseADFSAuthentication>false</UseADFSAuthentication>
    <IncludeListView>false</IncludeListView>
    <IncludeSystemUpdate>true</IncludeSystemUpdate>
    <MaximumThreadsGettingVersions>8</MaximumThreadsGettingVersions>
    <UploadLimit>20</UploadLimit>
    <RetryInterval>3000</RetryInterval>
    <HealthScoreSleepTime>5000</HealthScoreSleepTime>
    <HealthScoreWarningValue>7</HealthScoreWarningValue>
    <HealthScoreThrottledTimeout>120000</HealthScoreThrottledTimeout>
    <RetryCount>3</RetryCount>
    <LoginRetryCount>3</LoginRetryCount>
    <LoginRetryInterval>5000</LoginRetryInterval>
    <AuthCookieLifttime>7</AuthCookieLifttime>
    <DetailLog>false</DetailLog>
    <SpecialListTemplateIdsUnderPersonalSite>113,116,121,123,124,175</SpecialListTemplateIdsUnderPersonalSite>
    <AddWebRetryCount>6</AddWebRetryCount>
    <EnsureDigest>true</EnsureDigest>
  </BPOS-S>
  <WrapperBPOS>
    <UpLoadFileStreamTimeout>1800</UpLoadFileStreamTimeout>
  </WrapperBPOS>
</configuration>
