<?xml version="1.0"?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="AveSeparativeLogAppender" />
  </root>
  <appender name="AveSeparativeLogAppender" type="AvePoint.RA.CommonUtil.AveSeparativeLogAppender, RevIMGCommon">
    <lockingModel type="AvePoint.RA.CommonUtil.MultiTenantFileLocker, RevIMGCommon" />
    <!-- !Attention : When configuring the value of "log4net.Util.PatternString", "/logs/%property{TenantAccountId}/%property{ProcessName}%property{LogFilePostfix}.log" should be reserved, only the path ahead of this is configurable -->
    <file type="log4net.Util.PatternString" value="/logs/RecordsAppWeb.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <datePattern value="yyyyMMdd" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="10" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5level %date{yyyy-MM-dd HH:mm:ss,fff} [%property{TenantGroup}] [%property{TenantUser}] [%thread] %logger %property{EventID}- %message  %newline" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <target value="Console.Out" />
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Green, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5level %date thread:[%thread] %logger %property{EventID}- %message%newline" />
    </layout>
  </appender>
</log4net>
