<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<configuration>
  <WrapperQueryMonitor>
    <IsMonitorEnable>false</IsMonitorEnable>
    <LogFileSize>5</LogFileSize>
    <LogFileCount>5</LogFileCount>
    <CheckInterval>10</CheckInterval>
  </WrapperQueryMonitor>
  <WrapperQueryService>
    <ConnectTimeout>180</ConnectTimeout>
    <CommandTimeout>300</CommandTimeout>
  </WrapperQueryService>
  <WrapperCommon>
    <OpenBinaryStream>2</OpenBinaryStream>
    <EnableADFS>False</EnableADFS>
    <ElevatedPrivilege>False</ElevatedPrivilege>
    <RestorePortalConnection>True</RestorePortalConnection>
    <KeepDocumentIdValue>True</KeepDocumentIdValue>
    <UpdateLookupColumnValueBeforePost>False</UpdateLookupColumnValueBeforePost>
    <UseStubAccessTimeRule>False</UseStubAccessTimeRule>
    <BackupGhostPageStream>False</BackupGhostPageStream>
    <RecordFilterPolicyLog>None</RecordFilterPolicyLog>
    <ReplaceUserPrefix>true</ReplaceUserPrefix>
    <EachUploadSliceSize>8</EachUploadSliceSize>
    <WorkflowInternalNameMap></WorkflowInternalNameMap>
  <!-- All Porsion None-->
  </WrapperCommon>
  <BPOS-S> 
    <HttpWebRequestTimeout>1200000</HttpWebRequestTimeout>
    <HttpWebRequestReadWriteTimeout>1800000</HttpWebRequestReadWriteTimeout>
    <ClientRequestRetryInterval>200</ClientRequestRetryInterval>
    <ClientRequestDuration>500</ClientRequestDuration>
    <UseADFSAuthentication>false</UseADFSAuthentication>
    <UseClaimsAuthentication>true</UseClaimsAuthentication>
    <IncludeListView>true</IncludeListView>
    <UniqueFieldResolution>1</UniqueFieldResolution>
    <UploadLimit>20</UploadLimit>
    <SleepTime>20000</SleepTime>
    <SearchPrincipal>False</SearchPrincipal>
    <BackupItemVersionByAPI>true</BackupItemVersionByAPI>
  </BPOS-S>
  <WrapperBPOS>
    <UpLoadFileStreamTimeout>1800</UpLoadFileStreamTimeout>
  </WrapperBPOS>
  <ProxySettings>
    <EnableProxy>false</EnableProxy>
    <Server></Server>
    <Username></Username>
    <Password></Password>
  </ProxySettings>
</configuration>
