<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->

<configuration>
  <components>
    
    <!--Services-->
    <component id="AvePoint.Hybrid.AgentService.AgentPreHostingService" service="AvePoint.Hybrid.Utility.IStartable, RecordsAgentCore" type="AvePoint.Hybrid.AgentService.AgentPreHostingService, CloudAgentService"/>
    <component id="AvePoint.Hybrid.AgentService.AgentProcessHostingService" service="AvePoint.Hybrid.Utility.IStartable, RecordsAgentCore" type="AvePoint.Hybrid.AgentService.AgentProcessHostingService, CloudAgentService"/>
    <component id="AvePoint.Hybrid.AgentService.AgentThreadHostingService" service="AvePoint.Hybrid.Utility.IStartable, RecordsAgentCore" type="AvePoint.Hybrid.AgentService.AgentThreadHostingService, CloudAgentService"/>
    <component id="AvePoint.Hybrid.AgentService.AgentPostHostingService" service="AvePoint.Hybrid.Utility.IStartable, RecordsAgentCore" type="AvePoint.Hybrid.AgentService.AgentPostHostingService, CloudAgentService"/>
    <component id="AvePoint.Hybrid.AgentService.SignalRListenerService" service="AvePoint.Hybrid.Utility.IStartable, RecordsAgentCore" type="AvePoint.Hybrid.AgentService.SignalRListenerService, CloudAgentService"/>
    <component id="AvePoint.Hybrid.AgentService.AgentLogCollectorHostingService" service="AvePoint.Hybrid.Utility.IStartable, RecordsAgentCore" type="AvePoint.Hybrid.AgentService.AgentLogCollectorHostingService, CloudAgentService"/>
    <!--Services-->

    <!--endpoint-->
    <component id="AvePoint.Hybrid.AgentService.ServiceEndpoint.EPBrowserService" service="AvePoint.Hybrid.AgentService.ServiceEndpoint.IEPBrowserService, CloudAgentService" type="AvePoint.Hybrid.AgentService.ServiceEndpoint.EPBrowserService, CloudAgentService"/>
    <component id="AvePoint.Hybrid.AgentService.ServiceEndpoint.EPExploreService" service="AvePoint.Hybrid.AgentService.ServiceEndpoint.IEPExploreService, CloudAgentService" type="AvePoint.Hybrid.AgentService.ServiceEndpoint.EPExploreService, CloudAgentService"/>
    <component id="AvePoint.Hybrid.AgentService.ServiceEndpoint.EPJobService" service="AvePoint.Hybrid.AgentService.ServiceEndpoint.IEPJobService, CloudAgentService" type="AvePoint.Hybrid.AgentService.ServiceEndpoint.EPJobService, CloudAgentService"/>
    <component id="AvePoint.Hybrid.AgentService.ServiceEndpoint.EPCertificateUpdateService" service="AvePoint.Hybrid.AgentService.ServiceEndpoint.IEPCertificateUpdateService, CloudAgentService" type="AvePoint.Hybrid.AgentService.ServiceEndpoint.EPCertificateUpdateService, CloudAgentService"/>
	  
    <!--endpoint-->
    
  </components>
</configuration>
