.raNotifications{

  .ra-notifications-space{
    width: 480px;
    height: 1px;
    margin-left: -30px;
    margin-bottom: 8px;
    background: #e6e7e8 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .ra-notifications-title{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #27313C;
    opacity: 1;
    align-items: center;
  }

  .ra-notifications-title-info{
    text-align: left;
    font: normal normal 600 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #27313C;
    opacity: 1;
  }

  .fia-searchbox-close{
    cursor: pointer;
  }

  .ra-notifications-file-list{
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .ra-notifications-file-item{
    text-align: left;
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #27313C;
    opacity: 1;
    margin-top: 5px;
    word-break: normal;
    word-wrap: break-word;
  }

  .ra-notifications-foot{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 28px
  }

  .ra-notifications-time{
    margin-left: 8px;
    text-align: left;
    font: normal normal bold 12px/17px "Open Sans", sans-serif;
    letter-spacing: 0.36px;
    color: #C2C5C8;
    opacity: 1;
  }
}