<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->




<VIMS>
  <VIM name="fs_vim" assembly="StorageFS" type="AvePoint.Media.ClassicStorage.FS.FSVIM" IsCacheSpaceInfo ="false" IsCheckFreeSpace ="true"/>
  <VIM name="wms_vim" assembly="StorageFS" type="AvePoint.Media.ClassicStorage.FS.FSVIM" />
  <VIM name="ftp_vim" assembly="StorageFTP" type="AvePoint.Media.ClassicStorage.FTP.FTPVIM" />
  <!-- <VIM name="tsm_vim" assembly="Storage" type="AvePoint.Media.Storage.TSM.TSMVIM" /> -->
  <VIM name="centera_vim" assembly="StorageCentera" type="AvePoint.Media.ClassicStorage.Centera.CenteraVIM" IsCacheSpaceInfo ="false" IsCheckFreeSpace ="true"/>
  <VIM name="rackspace_vim" assembly="StorageCloudRackspace" type="AvePoint.Media.ClassicStorage.Cloud.Rackspace.RackspaceVIM" />
  <VIM name="azure_vim" assembly="StorageCloudAzure" type="AvePoint.Media.ClassicStorage.Cloud.Azure.AzureVIM" IsCheckFreeSpace ="true"/>
  <VIM name="amazon_vim" assembly="StorageCloudAmazon" type="AvePoint.Media.ClassicStorage.Cloud.Amazon.AmazonVIM" />
  <VIM name="atmos_vim" assembly="StorageCloudAtmos" type="AvePoint.Media.ClassicStorage.Cloud.Atmos.AtmosVIM" />
  <VIM name="att_vim" assembly="StorageCloudAtmos" type="AvePoint.Media.Storage.Cloud.Atmos.AtmosVIM" />
  <VIM name="dropbox_vim" assembly="StorageCloudDropbox" type="AvePoint.Media.ClassicStorage.Cloud.Dropbox.DropboxVIM" IsCacheSpaceInfo ="false" IsCheckFreeSpace ="true"/>
  <VIM name="castor_vim" assembly="StorageCAStor" type="AvePoint.Media.ClassicStorage.CAStor.CAStorVIM" IsCacheSpaceInfo ="false"  IsCheckFreeSpace ="true"/>
  <VIM name="mirrorfs_vim" assembly="StorageMirrorFS" type="AvePoint.Media.ClassicStorage.MirrorFS.MirrorFSVIM" />
  <VIM name="hcp_vim" assembly="StorageHCP" type="AvePoint.Media.ClassicStorage.HCP.HCPVIM" IsCacheSpaceInfo ="false"  IsCheckFreeSpace ="true"/>
  <VIM name="netapp_lun_vim" assembly="StorageNetApp" type="AvePoint.Media.ClassicStorage.NetApp.NetAppVIM" />
  <VIM name="netapp_cifs_vim" assembly="StorageNetApp" type="AvePoint.Media.ClassicStorage.NetApp.NetAppVIM" />
  <VIM name="caringo_vim" assembly="StorageCAStor" type="AvePoint.Media.ClassicStorage.CAStor.CAStorVIM" />
  <VIM name="box_vim" assembly="StorageBox" type="AvePoint.Media.ClassicStorage.Box.BoxVIM" IsCacheSpaceInfo ="false" IsCheckFreeSpace ="true"/>
  <VIM name="skydrive_vim" assembly="StorageSkyDrive" type="AvePoint.Media.ClassicStorage.SkyDrive.SkyDriveVIM" IsCacheSpaceInfo ="false" IsCheckFreeSpace ="true"/>
  <VIM name="googledrive_vim" assembly="StorageGoogleDrive" type="AvePoint.Media.ClassicStorage.GoogleDrive.GoogleDriveVIM" IsCacheSpaceInfo ="false" IsCheckFreeSpace ="true"/>
  <VIM name="sftp_vim" assembly="StorageSFTP" type="AvePoint.Media.ClassicStorage.SFTP.SFTPVIM" />
  <VIM name="netapp_alta_vault_vim" assembly="StorageNetApp" type="AvePoint.Media.ClassicStorage.NetApp.NetAppVIM" />
  <VIM name="s3compatible_vim" assembly="StorageS3Compatible" type="AvePoint.Media.ClassicStorage.S3Compatible.S3CompatibleVIM" />
  <VIM name="google_vim" assembly="StorageCloudGoogle" type="AvePoint.Media.ClassicStorage.Cloud.Google.GoogleVIM" />
</VIMS>