#raRCReportViewDetail {
  line-height: 22px;

  .ra-detail-content {
    padding: 10px 50px;
  }

  .ra-detail-content-list {
    font-size: 16px;
  }

  .ra-tree-lv-1>.ra-tree-item>.ra-tree-node {
    padding-left: 0 !important;
  }
}

.reco-report-view-item {
  width: 100%;
  margin-bottom: 24px;

  .reco-report-view-item-title {
    height: 18px;
    font: normal normal 600 13px/18px "Open Sans", sans-serif;
    color: #323E4D;
    margin-bottom: 8px;
  }

  .reco-report-view-item-value {
    width: 100%;
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    color: #27313C;
    overflow-wrap: break-word;
  }

  .reco-report-view-tree {
    background: #F2F3F4;
    border-radius: 8px;
    padding: 16px 0;
    overflow: hidden;
  }
}