.ra-common-report {
  width: 100%;

  #ra-report-container {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DAE0E2;
    border-radius: 8px;
  }

  #ra-control {
    margin-top: 5px;
    font-size: 14px;
  }

  #ra-report-content-title {
    margin-bottom: 16px;
    overflow: hidden;
    font-size: 14px;
  }

  .table-foot {
    padding: 8px 2px;
  }

  .table-foot-left {
    display: inline-block;
    height: 32px;
    line-height: 32px;
  }

  .table-foot-right {
    float: right;
  }
}

.ra-report-deleteJob {
  position: relative;
  margin-top: 20px;
  bottom: 5px;
  white-space: nowrap;
}

.reco-report-management-wrapper {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DAE0E2;
  border-radius: 8px;
  padding-top: 24px;
  padding-bottom: 18px;
}

.reco-report-management-search-section {
  width: 100%;
  height: 60px;
  padding: 0 24px;
  border-bottom: 1px solid #E7EAEB;
}

.reco-report-management-actions-section {
  width: 100%;
  height: 68px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  #raRcManagementEditBtn,
  #raRcManagementGenerateBtn,
  #raRcManagementShowReportBtn {
    margin-right: 8px;
    margin-left: 0 !important;

    button {
      background-color: inherit;
    }
  }

  .reco-report-management-creat-btn {
    margin-right: 8px;
  }

  .reco-report-management-action-description {
    font: italic normal normal 13px/34px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #707174;
  }
}

.reco-report-management-table-section {
  width: 100%;
  padding: 0 24px;
}

.reco-report-management-footer-section {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 24px;
}

.reco-report-detail-wrapper {
  width: 100%;
  padding: 0 40px;
}

#reco-report-management-table {
  box-shadow: none;
}