#raSOReport {
  .raSOReport-content{
    position: relative;
  }

  .report-type-selector {
    position: absolute;
    top: 36px;
    right: 24px;
    z-index: 2;
  }

  .ra-main-navbar {
    #crm-menu {
      display: flex;
      column-gap: 8px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

#export-site-dialog {
  .dialog-title {
    font-size: 14px;  
    font-weight: 600;
  }

  .objectlevel-bottom {
    margin-bottom: 24px;
  }

  .range-picker {
    margin-left: 26px;
  }
}