#archiveSettingPanel {
    .ra-archive-content {
        margin-bottom: 24px;
    }

    .ra-archive-title {
        font: normal normal bold 13px/18px "Open Sans", sans-serif;
        color: #323E4D;
    }

    .ra-archive-checkbox {
        margin-bottom: 8px;
    }

    .ra-archive-messagebar {
        margin-bottom: 8px;
    }
}