.ra-setting-panel-header {
    font: normal normal 300 23px/32px "Open Sans", sans-serif;
    color: #323E4D;
    display: inline-block;
    margin-top: 4px;
}

#columnSettingComponent {
    
}

#columnSettingPanel {
    .ra-crm-form-solid {
        width: 12px;
        height: 13px;
        margin-left: 4px;
    }

    .ra-setting-panel-enable {
        text-align: left;
        text-decoration: underline;
        font: italic normal normal 13px/18px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #0072D0;
        margin-left: 26px;
        cursor: pointer;
    }

    .ra-crm-form-content {
        margin-bottom: 24px;
        font-size: 13px;
    }

    .ra-setting-panel-checkbox {
      font: normal normal normal 13px/18px "Open Sans", sans-serif;
      margin-bottom: 8px;
    }

    .ra-setting-checkbox-wrapper {
      margin-top: 12px;
      margin-left: 26px;
    }
}