.ra-setting-panel-header {
  font: normal normal 300 23px/32px "Open Sans", sans-serif;
  color: #323E4D;
  display: inline-block;
  margin-top: 4px;
}

#containerTermSettingComponent {
  .info-error-tab {
    display: inline-block;
    margin-right: 4px;
    font: normal normal normal 13px/14px;
    color: #D01B1B;
    position: relative;
    top: 2px;
  }

  .info-error-font {
    display: inline;
    margin-left: 4px;
    color: #D01B1B;
  }

  .info-error {
    display: inline-block;
    float: left;
  }

  .info-error-icon {
    line-height: 20px;
  }

  .ra-setting-termPath {
    display: inline;
  }
}

#containerTermSettingPanel {
  .ra-setting-panel-containerEnable {
    height: 40px;
    background: #F2F3F4 0% 0% no-repeat padding-box;
    border-radius: 4px;
  }

  .ra-containerEnable-span {
    text-align: left;
    font: normal normal 600 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #293037;
    display: inline-block;
    margin: 11px 16px;
  }

  .ra-setting-panel-containerSwitch {
    display: block;
    float: right;
    margin: 8px 13px;
  }

  .ra-crm-form-content {
    margin-bottom: 24px;
    font-size: 13px;
  }

  .ra-setting-panel-termtree {
    height: 260px;
    overflow: auto;
    background: #F2F3F4 0% 0% no-repeat padding-box;
    border-radius: 8px;
  }

  .ra-setting-panel-treepadding {
    padding: 8px 8px;
  }

  .ra-selectterms-searchbox {
    margin: 16px 16px 6px 16px;
  }

  .ra-containerpanel-tips {
    font: italic normal normal 14px/19px "Open Sans", sans-serif;
    color: #27313C;
    margin-top: 6px;
    margin-bottom: 24px;
  }
}