#convertStubPanel {
  .ra-convert-content {
    margin-bottom: 24px;
  }

  .ra-convert-title {
    font: normal normal 600 13px/18px "Open Sans", sans-serif;
    color: #323E4D;
    margin-bottom: 8px;
  }
}