.ra-setting-panel-header {
  font: normal normal 300 23px/32px "Open Sans", sans-serif;
  color: #323E4D;
  display: inline-block;
  margin-top: 4px;
}

#documentTermSettingComponent, #documentLabelSettingComponent {
  .info-error-tab {
    display: inline-block;
    margin-right: 4px;
    font: normal normal normal 13px/14px;
    color: #D01B1B;
    position: relative;
    top: 2px;
  }

  .info-error-font {
    display: inline;
    margin-left: 4px;
    color: #D01B1B;
  }

  .info-error {
    display: inline-block;
    float: left;
  }

  .info-error-icon {
    line-height: 20px;
  }

  .ra-setting-termPath {
    display: inline;
  }

  .ra-setting-ruleNames-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    word-break: break-all;
  }

  .ra-setting-profile {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
  }
}

#documentTermSettingPanel {
  .class-selector {
    display: inline-block;
    vertical-align: text-bottom;
    width: 300px;
    height: 38px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  .class-selector[aria-invalid=true] {
    border-color: transparent!important;
    outline: 1px solid var(--error-color)!important
  }

  .class-selector-value {
    height: 100%;
    line-height: 36px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // .class-selector-value:hover {
  //     border: 1px solid #0079DD
  // }

  .class-selector-icon {
    display: inline-block;
    margin-left: 15px;
    vertical-align: text-bottom;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    padding-top: 3px;
  }

  .class-selector-retired {
    display: inline-block;
    margin-right: 4px;
    color: #D01B1B;
  }

  .ra-crm-form-content {
    margin-bottom: 24px;
    font-size: 13px;
  }

  .ra-setting-panel-column {
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    color: #27313C;
  }

  .ra-setting-panel-termtree {
    height: 260px;
    overflow: auto;
    background: #F2F3F4 0% 0% no-repeat padding-box;
    border-radius: 8px;
  }

  .ra-setting-panel-treepadding {
    padding: 8px 8px;
  }

  .ra-crm-document-content {
    margin-bottom: 6px;
    font-size: 13px;
  }

  .ra-crm-form-solid {
    width: 12px;
    height: 13px;
    margin-left: 4px;
  }

  .ra-document-panel {
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    color: #27313C;
  }

  .ra-crm-form-solid {
    width: 12px;
    height: 13px;
    margin-left: 4px;
  }

  .ra-setting-panel-enable {
    text-align: left;
    text-decoration: underline;
    font: italic normal normal 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #0072D0;
    margin-left: 26px;
    cursor: pointer;
  }

  .ra-setting-panel-enableRecords {
    font: normal normal 600 13px/18px "Open Sans", sans-serif;
    margin-top: -8px;
    margin-bottom: 8px;
  }

  .ra-selectterms-searchbox {
    margin: 16px 16px 6px 16px;
  }

  .ra-setting-panel-checkbox {
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    margin-bottom: 8px;
  }

  .ra-setting-panel-switch-enableTermSetting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 16px;
    font: normal normal 600 13px/18px "Open Sans", sans-serif;
    background: #F2F3F4 0% 0% no-repeat padding-box;
    border-radius: 4px;
  }

  .ra-general-panel {
    margin-top: 8px;
    background: #F7A10029 0% 0% no-repeat padding-box;
    border-radius: 2px;
  }

  .ra-general-panel-content {
    padding: 16px;
  }

  .ra-general-panel-warn {
    font: normal normal 600 12px/17px "Open Sans", sans-serif;
    color: #4C5966;
  }

  .ra-general-panel-font {
    font: normal normal normal 12px/17px "Open Sans", sans-serif;
    color: #4C5966;
  }

  .permission-error-message {
    color: #c91d1d;
  }
}
