#generalManagementComponent,
#archiveGeneralSettingComponent {
  .ra-expander-general {
    display: inline-block;
    margin-bottom: 16px;
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    color: #323E4D;
  }
}

#generalManagementSettingPanel,
#archiveGeneralSettingPanel {
  .ra-crm-form-content {
    margin-bottom: 24px;
    font-size: 13px;
  }

  .ra-general-panel {
    margin-top: 8px;
    background: #F7A10029 0% 0% no-repeat padding-box;
    border-radius: 2px;
  }

  .ra-general-panel-content {
    padding: 16px;
  }

  .ra-general-panel-warn {
    font: normal normal 600 12px/17px "Open Sans", sans-serif;
    color: #4C5966;
  }

  .ra-general-panel-font {
    font: normal normal normal 12px/17px "Open Sans", sans-serif;
    color: #4C5966;
  }

  .ra-general-panel-uniqueid {
    color: #0072D0;
    cursor: pointer;
  }

  .ra-general-panel-uniqueid:hover {
    text-decoration: underline;
  }

  .ra-general-panel-afterdays-input {
    margin: 8px 0 0 24px;
  }
}