#importSettingPanel,
#importSCPanel {
  .ra-import-download {
    margin-bottom: 24px;
    font: normal normal 600 14px/19px "Open Sans", sans-serif;
    color: #0072D0;
    cursor: pointer;
  }
  
  .ra-import-download-span:hover {
    text-decoration: underline;
  }

  .ra-import-title {
    margin-bottom: 8px;
    font: normal normal 600 14px/19px "Open Sans", sans-serif;
    color: #27313C;
  }
}