.ra-setting-panel-header {
    font: normal normal 300 23px/32px "Open Sans", sans-serif;
    color: #323E4D;
    display: inline-block;
    margin-top: 4px;
}

#manualApprovalSettingComponent {
    .ra-setting-profile {
        display: inline-block;
        margin-bottom: 8px;
        margin-right: 8px;
    }

    .ra-setting-manualApprovalTitle {
      display: block;
      font: normal normal 600 13px/18px "Open Sans", sans-serif;
      color: #323E4D;
    }

    .ra-setting-manualApprovalContent {
      font: normal normal normal 13px/18px "Open Sans", sans-serif;
      color: #323E4D;
    }

    .ra-setting-sendEmail {
      display: block;
      margin-top: 16px;
      font: italic normal normal 13px/18px "Open Sans", sans-serif;
      color: #707174;
    }
}

#manualApprovalSettingPanel {
    .ra-setting-panel-radio {
        text-align: left;
        font: normal normal normal 13px/18px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #27313C;
        margin: 8px 0;
    }

    .ra-setting-panel-checkbox{
        text-align: left;
        font: normal normal normal 13px/18px "Open Sans", sans-serif;
        color: #27313C;
        margin: 24px 0;
    }

    .ra-setting-panel-containerEnable {
        height: 40px;
        background: #F2F3F4 0% 0% no-repeat padding-box;
        border-radius: 4px;
    }

    .ra-containerEnable-span {
        text-align: left;
        font: normal normal 600 13px/18px "Open Sans", sans-serif;
        letter-spacing: 0px;
        color: #293037;
        display: inline-block;
        margin: 3px 16px;
    }

    .ra-setting-panel-containerSwitch {
        display: block;
        float: right;
        margin: 8px 13px;
    }

    .ra-crm-form-content {
        margin-bottom: 24px;
        font-size: 13px;
    }

}