#relatedAppSettingPanel {
  .ra-crm-form-content {
    margin-bottom: 24px;
    font-size: 13px;
  }

  .ra-input-field-title {
    font: normal normal 600 13px/18px "Open Sans", sans-serif;
    margin-bottom: 8px;
    display: inline-block;
  }
}