#scheduleSettingPanel{
    .schedule-body {
        padding-left: 28px;
    }

    .schedule-label {
        width: 80px;
    }

    .schedule-label-line {
        line-height: 34px;
    }

    .schedule-line-top {
      >div {
        display: inline-block;
      }

      >div,
      >span {
        vertical-align: top !important;
      }
    }

    .ra-schedule-endBy-datepicker {
        display: inline-block;
        margin-left: 24px;
    }

    .end-time-container {
      width: calc(100% - 80px);
    }
}