#uniqueIdSettingPanel {
  .ra-crm-form-content {
    margin-bottom: 24px;
    font-size: 13px;
  }

  .ra-crm-form-solid {
    width: 12px;
    height: 13px;
    margin-left: 4px;
  }

  .ra-uniqueIdPanel-title {
    font: normal normal 600 13px/18px "Open Sans", sans-serif;
    margin-bottom: 8px;
    display: inline-block;
  }

  .ra-setting-panel-checkbox {
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    margin-bottom: 8px;
  }
}