#raAccountManagement {
  // .ra-page-main {
  //   padding: 0px 50px 20px 50px;
  // }
  .button.button-link{
    .button-text-part{
      text-align: left;
      text-decoration: underline;
      font: italic normal normal 13px/18px "Open Sans", sans-serif;
      letter-spacing: 0px;
      color: #0072d0;
      opacity: 1;
    }
  }
  .button-icon-part.fas.fa-align-left::before{
    color: #323E4D;
  }
  .aui-tabs-bars {
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 24px;
  }
  .aui-tabs-underline > .aui-tabs-bar-container .aui-tabs-bars .aui-tabs-bar {
    max-width: 300px;
  }
  .ra-section {
    margin-bottom: 0;
  }
  .aui-table {
    box-shadow: none;
  }
  .action_text {
    cursor: pointer;
  }
  #rm_control {
    margin-bottom: 24px;
    margin-bottom: 0;
  }

  .ra-account-management-tab {
    // margin: 16px 0 16 0px;
    margin: 16px 0 0 0px;
    padding: 24px 24px 0;
  }

  #raAccountManagementTable {
    .aui-table-header-cell {
      // padding-left: 20px;
    }
    .aui-table-row-cell {
      padding-left: 20px;
    }
  }

  #raGroupManagementComponent {
    .aui-messagebar {
      margin: 20px 0px 24px 0px;
    }
  }
  
  .groupName-span{
    display: inline-block;
  }

  #raUserManagement {
    .table-btn {
      background: none;
      padding-left: 0;
    }
  }
}

.no-permission {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
}

.no-permission-icon {
  margin-bottom: 8px;
}

.pager-position {
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
}

.tg-pager-position{
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.panel-messagebox-list {
  display: inline-block;
  margin-right: 3px;
}

#raSecurityGroupSettings {
  width: 600px;

  .aui-messagebar {
    margin: 0 0 15px 0;
  }

  .aui-checkbox>span {
    white-space: nowrap;
    max-width: 430px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #raDelegateCheckbox {
    .aui-choice-label {
      display: inline-block;

      .aui-choice-input {
        // display: inline-block;
        // line-height: unset;
        float: left;
        margin-bottom: 1px;
      }
    }
  }

  .panel-messagebox {
    margin-bottom: 4px;
    font: normal normal 600 14px/19px "Open Sans", sans-serif;
    color: #323E4D;
  }

  .form-label-delegate {
    margin-bottom: 2px;
  }

  .input-label-delegate {
    display: inline-block;
  }
}
#raAccessPermissionForm {
  .aui-scope {
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    max-width: 480px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .aui-expander + .aui-expander {
    margin-top: 1px;
    border-radius: 2px;
    clear: both;
  }
  .aui-expander {
    border: none !important;
  }
  .aui-expander-title {
    min-height: 34px !important;
    padding: 8px 6px 2px 4px;
  }
}

#termPermissionContainer,
#rulePermissionContainer {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  #selAllContainer {
    margin: 12px 0 6px 8px;
  }

  .aui-expander-title {
    min-height: 34px !important;
    padding: 8px 6px 2px 0px;
  }

  .aui-expander + .aui-expander {
    margin-top: 1px;
    border-radius: 2px;
    clear: both;
  }

  .aui-expander {
    border: none !important;
  }

  .termSets-container {
    display: inline-block;
    width: 100%;
    padding: 4px 0 0 0px;
    .aui-checkbox > span {
      max-width: 500px;
    }
  }

  .termSets-list {
    margin-bottom: 4px;
  }

  .termGroup-row, .termSet-row {
    .aui-choice-content{
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 420px;
    }
  }

  .termSet-row{
    padding: 4px 8px 4px 70px;
  }

  .empty-row {
    padding: 10px 40px;
  }

  .termSet-row:hover {
    background-color: #eeeeee;
  }
  
  .node-selected-count {
    margin-left: 8px;
    font-weight: 600;
    display: inline-block;
  }
}

.table-pager {
    margin-top: 10px;
    overflow: hidden;
}

.table-foot-left {
  float: left;
  height: 32px;
  line-height: 32px;
}

.table-foot-right {
  float: right;
}

// .navbar {
//   overflow: hidden;
//   margin-bottom: 20px;
//   padding-top: 10px;
// }

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navbar-search {
  display: inline-block;
}

.navbar-selected-count {
  display: inline-block;
  margin-right :10px;
}

.extra-long-text {
  width: 180px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.module-desc {
  margin-bottom: 20px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.ra-panel-header {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.27px;
  color: #4C5966;
  opacity: 1;
}
#raPermissionTable {
  margin-bottom: 20px;
}

#raAccessPermissionForm {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  .access_permission_des {
    margin-bottom: 10px;
    color: #4C5966;
  }

  .location_title {
    font-weight: 600;
    margin-bottom: 16px;
    color: #1C1C1C
  }

  .dividing_line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
  }

  .location_path_contain {
    padding: 0 5px;
  }

  .location_path {
    font: normal normal normal 14px/19px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
  }

  .path_dividing_line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #EEEEEE;
    margin: 16px 0;
  }

  .category-main {
    margin-bottom: 20px;
  }

  .category-title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
    clear: both;
  }

  .category-desc {
    margin-bottom: 10px;
  }

  .info-content {
    display: inline-block;
    width: 100%;
    padding: 4px 0 6px 0px;
  }

  .info-row {
    padding: 6px 32px;
    max-width: 524px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .info-row-wrapper:hover {
    background-color: #eeeeee;
  }

  .term-single-row
  {
    padding: 0px 0px;
  }

  .info-normal-row {
    padding: 4px 0px;
  }
}

#raManagePhyPermissionTable {
  margin-bottom: 24px;
}

.radiogroup {
  font-size: 13px !important;
}

.record-table-wrapper {
  position: relative;
}

.record-table-disabled::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: var(--white);
  opacity: .5;
}

#validateGroupDialog {
  .aui-expander-mini-title {
    padding-left: 18px;
  }

  .aui-expander-title-font {
    font: normal normal 600 13px/18px Open Sans, sans-serif;
    color: #323E4D;
  }

  .aui-expander-action {
    justify-content: right;
  }

  .aui-expander-action-start {
    margin-right: 4px;
    font-size: 12px;
    color: #323E4D;
  }

  .dialog-content {
    display: flex;
  }

  .dialog-content-left {
    width: 48px;
    margin-right: 8px;
  }

  .dialog-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #E8E9EA;
    border-radius: 24px;
  }

  .dialog-content-right {
    display: flex;
    justify-content: flex-end;
    font: normal normal normal 14px/19px Open Sans, sans-serif;
    color: #323E4D;
  }

  .dialog-icon {
    font-size: 16px;
    color: #E5681F;
  }

  .dialog-expander-list {
    max-height: 92px;
    padding: 0 0 0 66px;
    overflow: auto;
    font: normal normal normal 14px/19px Open Sans, sans-serif;
    color: #323E4D;
  }

  .dialog-expander-list-div {
    margin-bottom: 4px;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}