#csdApiKeyManagement {
  .csd-apikey-value {
    position: relative;
    padding-right: 20px;
  }
  .csd-apikey-copy {
    position: absolute;
    top: -6px;
    right: 0;
  }

  .aui-messagebar{
    margin-bottom: 16px;
  }

  .ra-nav-bar {
    overflow: hidden;
    margin-bottom: 16px;  
  }
  
  .ra-nav-bar-btn{
    margin-right: 8px;
    margin-left: 0 !important;
  }

  .ra-nav-bar-left {
    display: flex;
    flex-wrap: nowrap;
  }

  .ra-nav-bar-right {
    float: right;
  }

  .ra-selection-describe {
    color: #707174;
    font: italic normal normal 13px "Open Sans", sans-serif;
  }

  .aui-table {
    box-shadow: none;
  }
}