/*Covered by AvePoint copyright and license agreement*/
#rmDashboardSettings {
    height: 99%;
    background-color: #fff;

    .body-div {
        margin-left: 25px;
    }

    .question-icon {
        font-size: 14px;
        color: red;
        margin-right: 5px;
    }

    .question-title {
        font-family: "Segoe UI", sans-serif;
        font-size: 14px;
        color: #1c1c1c;
        font-weight: 600;
    }

    #generate-report-group {
        margin-left: 15px;
        margin-top: 8px;
    }

    .set-time {
        margin-left: 35px;
    }

    .set-time-table {
        margin-top: 10px;
        /*margin-left: 15px;*/
    }


    #datepicker-hour {
        display: inline-block;
    }

    #datepicker-minute {
        display: inline-block;
        font-size: 12px;
    }


    .btnBase {
        height: 25px;
        line-height: 25px;
        width: 75px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        font-family: "Segoe UI", sans-serif;
        font-size: 14px;
        display: inline-block;
    }

    .blackBtn {
        margin: 0 0 0 10px;
        color: #000;
        border: 1px solid #000;
    }

    .blueBtn {
        background-color: #0a2f60;
        color: #fff;
        border: 1px solid #0a2f60;
    }

    .grayBtn {
        /*margin: 0 0 0 10px;*/
        color: #000;
        border: 1px solid gray;
        height: 30px;
        line-height: 30px;
        width: 90px;
    }

    #btnGroups {
        position: absolute;
        right: 25px;
        bottom: 25px;
    }
}
