/*Covered by AvePoint copyright and license agreement*/
/* Code Review Whole File */
/*plugs extend*/
#raGeneralSetting {
    .session-timeout-unit{
        margin-left: 8px;
    }
    #bottomComments, .ra-foot-btns {
        width: 556px;
    }
    .ra-form-label {
      margin-bottom: 8px;
      text-align: left;
      font: normal normal 600 13px/18px "Open Sans", sans-serif;
      letter-spacing: 0px;
      color: #323E4D;
      opacity: 1;
    }
    .aui-input-target{
      text-align: left;
      font: normal normal normal 13px/18px "Open Sans", sans-serif;
      letter-spacing: 0px;
      color: #394553;
      opacity: 1;
    }
    .aui-comboboxshell-content.aui-comboboxshell-center.aui-comboboxshell-ellipsis>div{
      text-align: left;
      font: normal normal normal 13px/18px "Open Sans", sans-serif;
      letter-spacing: 0px;
      color: #394553;
      opacity: 1;
    }
    
    .ra-general-span {
      font: normal normal 600 14px/19px "Open Sans", sans-serif;
    }

    .ra-email-365-setting {
      padding-left: 30px;

      .ra-email-365-setting-label {
        font: normal normal 600 14px/19px "Open Sans", sans-serif;
        color: #323E4D;
        margin-top: 16px;
      }

      .ra-email-365-setting-content {
        margin-top: 8px;
      }
    }
  .ra-session-timeout {
    width: 556px;
    
    .ra-session-timeout-title {
      width: fit-content;
    }

    .ra-session-timeout-unit {
      flex: 1;
    }
    
    #raCpGsTimeout,
    #raCpGsSessionTimeNumIpt {
      flex: 1;
    }
  }
}