/*Covered by AvePoint copyright and license agreement*/
/* Code Review Whole File */
#raStorageSettings {
  .ra-form-label{
    text-align: left;
      font: normal normal 600 13px/18px "Open Sans", sans-serif;
      letter-spacing: 0px;
      color: #323E4D;
      opacity: 1;
  }
  #compressionContainer {
    margin: 8px 0 0 32px;
  }

  #compressionSlider {
    width: 300px;
    margin-left: 85px;
    margin-bottom: 0;
  }

  #sliderFastest {
    position: absolute;
    top: -12px;
    left: 27px;
  }

  #sliderBest {
    position: absolute;
    top: -12px;
    left: 380px;
    margin-left: 20px;
  }

  .ra-foot-btns {
    width: 559px;
  }

  .ra-validation-msg{
    margin-left: 108px
  }
  .aui-comboboxshell-content.aui-comboboxshell-center.aui-comboboxshell-ellipsis>div{
    text-align: left;
    font: normal normal normal 13px/18px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #394553;
    opacity: 1;
  }
}
