/*Covered by AvePoint copyright and license agreement*/
/* Code Review Whole File */
#rmTimeJobSettings {
  .ra-section {
    padding-top: 10px;
    height: calc(100% - 32px);
    box-shadow: none;
    border: 1px solid #dae0e2;
    border-radius: 8px;
  }
  .ra-section-head {
    margin-bottom: 5px;
    font: normal normal bold 16px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #27313c;
  }
  .timerjob-description {
    margin-bottom: 10px;
    font: normal normal normal 14px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #868f96;
    opacity: 1;
  }

  .btn-gear-icon::before {
    color: #0072D0;
  }
  .btn-edit-icon::before {
    color: #0072D0;
  }
  .btn-runjob-icon::before {
    color: #0072D0;
  }
  .container-fluid {
    padding: 0;
  }
}
