.dialog-container {

  .dialog-container-msg {
    margin-bottom: 24px;
    font: normal normal normal 14px/19px Open Sans;
    color: #323E4D;
  }

  .dialog-container-table {
    height: 100%;
    border: 1px solid #e8e9ea;
    border-radius: 8px;

    .dialog-container-tableheader {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #F2F3F4;
      border-radius: 8px 8px 0 0;

      .dialog-tableheader-text {
        display: inline-block;
        padding: 16px 24px;
        font: normal normal 600 14px/19px Open Sans;
        color: #323E4D;
      }
    }

    .dialog-container-tablectn {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-radius: 0 0 8px 8px;

      .dialog-tablectn-text {
        display: inline-block;
        padding: 16px 24px;
        font: normal normal normal 14px/19px Open Sans;
        color: #323E4D;
      }
    }

    .dialog-container-col {
      border-right: 1px solid rgb(232, 233, 234);
    }
  }
}