.reco-pie-char-with-progress {
  width: 100%;
  position: relative;

  .reco-pie-char-start {
    position: absolute;
    left: 35px;
    bottom: 0;
  }

  .reco-pie-char-end {
    position: absolute;
    right: 30px;
    bottom: 0;
  }

}