.reco-az-config-conn {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DAE0E2;
  border-radius: 8px;
  padding: 24px;

  .reco-az-conn {
      padding-bottom: 0 !important;
  }

  #reco-az-conn-table, #reco-az-conn-group-table {
    box-shadow: none;
  }

  .reco-az-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

     .reco-az-actions-desc {
    color: #707174;
    font: italic normal normal 13px "Open Sans", sans-serif;
    padding-right: 2px;
  }

  .reco-az-footer {
      display: flex;
      justify-content: right;
      margin-top: 24px;
  }

  .reco-az-paginate {
    height: 32px;
    display: flex;
    align-items: center;
  }

  .reco-az-paginate-rows {
    margin-right: 12px;

    >span {
        margin-right: 8px;
    }
  }
  
  .reco-az-table-flex {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .reco-az-table-link {
    text-decoration: underline;
    font: italic normal 600 14px "Open Sans", sans-serif;
    color: #0072d0;
    cursor: pointer;
  }
}

#reco-az-panel {

  .reco-az-panel-header {
    color: #27313C;
    font-size: 13px;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .reco-az-input-highlight {
    font: normal normal bold 16px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #323E4D;
    margin-bottom: 8px;
  }

  .reco-az-highlight-section {
    width: 100%;
    background: #F2F3F4;
    border-radius: 4px;
    padding: 16px;
  }

  .reco-az-input-label {
    font: normal normal 600 14px "Open Sans", sans-serif;
    color: #323E4D;
    margin-bottom: 8px;

    >.reco-az-input-require {
      margin-left: 4px;
      font: normal normal 600 13px "Open Sans", sans-serif;
      color: #FF4444;
    }
  }

  .reco-az-input-message {
    margin-top: 8px;
    font: normal normal 400 14px "Open Sans", sans-serif;
    color: #cc0000;
  }

  .reco-az-input-item {
    width: 100%;
    margin-bottom: 24px;
  }

  .reco-az-validate-btn {
    display: flex;
    justify-content: right;

    >.aui-button >.button {
      border: 1px solid #415364 !important;
    }
  }

  .reco-az-validate-message {
    margin-top: 8px;
    font-size: 14px;
    
    >.succeed {
      color: #00A84E;
    }

    >.failed {
      color: #cc0000;
    }
  }

  // .reco-az-validate-btn-succeed >.aui-button >.button {
  //   border: 1px solid var(--success-color) !important;
  // }

  // .reco-az-validate-btn-failed >.aui-button >.button {
  //   border: 1px solid var(--error-color) !important;
  // }
}