.reco-dashboard-mur-wrapper {
  height: auto;

  .reco-dashboard-mur-selector {
    width: 100%;
    height: 34px;
    margin-bottom: 16px;
  }
}

@media (max-width: 1280px) {
  .reco-dashboard-mur-user-records {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
}