.opus-common-wizard {
  display: grid;
  grid-template-columns: 330px calc(100% - 330px);

  .wizard-stepper-header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid #e8e9ea;
  }

  .wizard-left {
    border-right: 1px solid #e8e9ea;
  }

  .wizard-right {
    flex: 1;
	  padding: 24px;
  }
}
