<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->



<configuration>
  <configSections>
    <section name="upgradeConfigurationSectionHandler" type="AvePoint.Media.Core.Index.UpgradeConfigurationSectionHandler, MediaCoreIndex"/>
  </configSections>
  <upgradeConfigurationSectionHandler>
    <!--
    This is just a minimal sample configuration file that shows how to declare
    the configuration sections.

    Because an XML Schema Definition (XSD) is generated for each configuration
    section, it should be trivial to edit these files because you have
    IntelliSense on the XML definition.
    -->
    <upgradeConfigurationCollection>
      <upgradeConfiguration id="TB_AGENT_INDEX.COL_STORAGEINFO" upgradeType="Column" tableName="tb_agent_index" columnName="COL_STORAGEINFO" upgradeExpression="ALTER TABLE TB_AGENT_INDEX ADD COL_STORAGEINFO TEXT; " />
      <upgradeConfiguration id="TB_AGENT_INDEX.COL_CURRENT_JOB_ID" upgradeType="Column" tableName="tb_agent_index" columnName="COL_CURRENT_JOB_ID" upgradeExpression="ALTER TABLE TB_AGENT_INDEX ADD COL_CURRENT_JOB_ID  VARCHAR(256); " />
      <upgradeConfiguration id="TB_ITEM_INDEX.COL_SEND_DATE" upgradeType="Column" tableName="tb_item_index" columnName="COL_SEND_DATE" upgradeExpression="ALTER TABLE TB_ITEM_INDEX ADD COL_SEND_DATE INT; " />
      <upgradeConfiguration id="TB_ITEM_INDEX.COL_SENDER" upgradeType="Column" tableName="tb_item_index" columnName="COL_SENDER" upgradeExpression="ALTER TABLE TB_ITEM_INDEX ADD COL_SENDER TEXT; " />
      <upgradeConfiguration id="TB_ITEM_INDEX.COL_DISPLAY_TO" upgradeType="Column" tableName="tb_item_index" columnName="COL_DISPLAY_TO" upgradeExpression="ALTER TABLE TB_ITEM_INDEX ADD COL_DISPLAY_TO TEXT; " />
      <upgradeConfiguration id="TB_ITEM_INDEX.COL_HAS_ATTACH" upgradeType="Column" tableName="tb_item_index" columnName="COL_HAS_ATTACH" upgradeExpression="ALTER TABLE TB_ITEM_INDEX ADD COL_HAS_ATTACH BOOLEAN DEFAULT 0; " />
      <upgradeConfiguration id="TB_ITEM_INDEX.COL_CATEGORY" upgradeType="Column" tableName="tb_item_index" columnName="COL_CATEGORY" upgradeExpression="ALTER TABLE TB_ITEM_INDEX ADD COL_CATEGORY TEXT; " />
      <upgradeConfiguration id="TB_ITEM_INDEX.COL_CURRENT_JOB_ID" upgradeType="Column" tableName="tb_item_index" columnName="COL_CURRENT_JOB_ID" upgradeExpression="ALTER TABLE TB_ITEM_INDEX ADD COL_CURRENT_JOB_ID VARCHAR(256); " />
      <upgradeConfiguration id="TB_ITEM_INDEX.COL_FILE_EXTENSION_NAME" upgradeType="Column" tableName="tb_item_index" columnName="COL_FILE_EXTENSION_NAME" upgradeExpression="ALTER TABLE TB_ITEM_INDEX ADD COL_FILE_EXTENSION_NAME TEXT; " />
      <upgradeConfiguration id="TB_CONTAINER_INDEX.COL_SEND_DATE" upgradeType="Column" tableName="tb_container_index" columnName="COL_SEND_DATE" upgradeExpression="ALTER TABLE TB_CONTAINER_INDEX ADD COL_SEND_DATE INT; " />
      <upgradeConfiguration id="TB_CONTAINER_INDEX.COL_SENDER" upgradeType="Column" tableName="tb_container_index" columnName="COL_SENDER" upgradeExpression="ALTER TABLE TB_CONTAINER_INDEX ADD COL_SENDER TEXT; " />
      <upgradeConfiguration id="TB_CONTAINER_INDEX.COL_DISPLAY_TO" upgradeType="Column" tableName="tb_container_index" columnName="COL_DISPLAY_TO" upgradeExpression="ALTER TABLE TB_CONTAINER_INDEX ADD COL_DISPLAY_TO TEXT; " />
      <upgradeConfiguration id="TB_CONTAINER_INDEX.COL_HAS_ATTACH" upgradeType="Column" tableName="tb_container_index" columnName="COL_HAS_ATTACH" upgradeExpression="ALTER TABLE TB_CONTAINER_INDEX ADD COL_HAS_ATTACH BOOLEAN DEFAULT 0; " />
      <upgradeConfiguration id="TB_CONTAINER_INDEX.COL_CATEGORY" upgradeType="Column" tableName="tb_container_index" columnName="COL_CATEGORY" upgradeExpression="ALTER TABLE TB_CONTAINER_INDEX ADD COL_CATEGORY TEXT; " />
      <upgradeConfiguration id="TB_CONTAINER_INDEX.COL_CURRENT_JOB_ID" upgradeType="Column" tableName="tb_container_index" columnName="COL_CURRENT_JOB_ID" upgradeExpression="ALTER TABLE TB_CONTAINER_INDEX ADD COL_CURRENT_JOB_ID VARCHAR(256); " />
      <upgradeConfiguration id="TB_CONTAINER_INDEX.COL_FILE_EXTENSION_NAME" upgradeType="Column" tableName="tb_container_index" columnName="COL_FILE_EXTENSION_NAME" upgradeExpression="ALTER TABLE TB_CONTAINER_INDEX ADD COL_FILE_EXTENSION_NAME TEXT; " />
      <upgradeConfiguration id="TB_MASTER_INDEX.COL_CURRENT_JOB_ID" upgradeType="Column" tableName="tb_master_index" columnName="COL_CURRENT_JOB_ID" upgradeExpression="ALTER TABLE TB_MASTER_INDEX ADD COL_CURRENT_JOB_ID VARCHAR(256); " />
    </upgradeConfigurationCollection>
  </upgradeConfigurationSectionHandler>
</configuration>