#raProgressReport {
  .reco-container {
    background: #ffffff;
    border: 1px solid #dae0e2;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
  }

  .reco-progress-tabs{
    position: relative;

    .reco-project-config-btn{
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}
