#raMyRequestContainer {
  .ra-page-main {
    background-color: #ffffff;
    border: 1px solid #dae0e2;
    border-radius: 8px;
    opacity: 1;
  }
  .ra-main-navbar{
    height: 63px;
  }
 .aui-table {
    box-shadow: none;
  }
  .aui-table-box {
    border-bottom: none;
  }
  .ra-main-header {
    padding-left: 23px;
    padding-right: 23px;
    border-bottom: 1px solid #e7eaeb;
  }
  
  .ra-main-navBar {
    height: 66px;
  }
  #raReqMainSection {
    // padding: 0 0 16px 0;
    //margin-bottom: 24px;
    background-color: #fff;
  }
  .navbar {
    margin-bottom: 16px;
    overflow: hidden;
  }
  .navbar-left {
    //margin-left: 5px;
    float: left;
  }
  .navbar-right {
    float: right;
  }
  .navbar-actions {
    display: flex;
    column-gap: 8px;
  }
  .navbar-search {
    display: inline-block;
    vertical-align: middle;
  }

  .table-foot {
    margin-top: 8px;
  }
  .table-foot-left {
    display: inline-block;
    height: 32px;
    line-height: 32px;
  }
  .table-foot-right {
    float: right;
  }
  a {
    cursor: pointer;
  }
  #filter_container {
    // display: inline-block;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .aui-filter-group > div:first-child {
    margin-right: 8px !important;
  }
}

.ra-requestd-title{
    margin-bottom: 8px;
    text-align: left;
    font: Bold 14px "Open Sans", sans-serif;;
    min-width: 150px;
    vertical-align: top;
}

.ra-requestd-value{
    display: inline-block;
    text-align: left;
    width: 500px;
    word-break:break-all;
}

.ra-requestd-link{
    display: inline-block;
    text-align: left;
    font: Regular 14px/24px "Open Sans", sans-serif;;
    color: #88C6E2;
    text-decoration: underline;
}

.ra-requestd-line{
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #E6E7E8;
}

.ra-requestd-form{
    padding: 36px 32px;
}

.ra-requestd-group{
    margin-bottom: 180px;
}

.ra-requestd-showDetailBtn{
    text-align: right;
    margin-right: 15px;
}

.ra-requestd-showDetailBtn a{
    cursor: pointer;
}
.request-item-details{
    color: #0072D0;
    font: italic normal normal 13px/18px "Open Sans", sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.ra-approvemsg-tip {
  margin-bottom: 16px;
  font: normal normal normal 14px/19px "Open Sans", sans-serif;
  color: #323E4D;
}

.ra-approvemsg-foldername {
  margin-bottom: 4px;
  font: normal normal 600 14px/19px "Open Sans", sans-serif;
  color: #323E4D;
}

.ra-approvemsg-loan {
  height: 115px;
  overflow-y: auto;
}

.ra-approvemsg-loanname {
  margin-bottom: 4px;
  font: normal normal normal 14px/19px "Open Sans", sans-serif;
  color: #323E4D;
}
.ra-request-uniqueID{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow:ellipsis;
}
