.ra-scheduled-settings {
    &__title {
        margin-bottom: 4px;
        font-weight: 600;
    }

    &__body {
        padding: 8px 0 0 24px;
    }

    &__row {
        display: flex;
        align-items: center;   
        min-height: 64px;
        gap: 0;
    }

    &__label {
        width: 86px; 
    }

    &__interval-controls {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__end-row {
        align-items: flex-start;
        min-height: 126px;  

        > .ra-radioGroup {
            display: block;
            margin-top: -2px;
        }
    }

    &__suffix {
        margin-left: 8px;
        line-height: 40px;
    }

    &__occurrences-input {
        margin: 0 8px;
    }

    &__end-date {
        margin-left: 24px;
    }

    #scheduled-settings-interval {
        width: 175px;
    }

    #scheduled-settings-interval-unit {
        margin-left: 0;
    }
}
