.reco-discovery-navigation {
    width: 200px;
    height: 100%;
    padding: 24px 12px;

    .reco-discovery-navigation-title {
        height: 28px;
        font-weight: 600;
        font-size: 12px;
        color: #32363E;
        padding: 6px 8px;
    }

    .reco-discovery-navigation-item-active {
        height: 28px;
        width: 100%;
        border-radius: 2px;
        background-color: #D2D5DA;
        font-weight: 400;
        font-size: 12px;
        color: #32363E;
        padding: 6px 8px;
        cursor: pointer;
    }

    .reco-discovery-navigation-item-inactive {
        height: 28px;
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        color: #32363E;
        padding: 6px 8px;
        cursor: pointer;
    }
}