/*Covered by AvePoint copyright and license agreement*/
/* Code Review Whole File */
#rmHome {
    /*#rmGreetings {
        padding: 65px 0 45px 0;
        font-size: 1.8rem;
        font-weight: 400;
        color: #585858;
        text-align: center;
    }*/
    #rmModules {
        width: 100%;
        padding: 110px 50px 35px 50px;
    }

    #rmInnerModules {
        margin: 0 auto;
    }

    .ra-home-module {
        padding: 35px 20px;
        margin: 0 15px 30px 15px;
        width: 290px;
        min-height: 480px;
        float: left;
        overflow: hidden;
    }

    .ra-home-module-head {
        width:100%;
        margin-bottom: 20px;
        display: table;
    }

    .ra-home-module-icon {
        float: left;
        width: 67px;
        height: 67px;
        background-image: url('/Images/Base/action_button.png');
        background-repeat: no-repeat;
        display: table-cell;
        vertical-align: middle;
    }

    .ra-home-module-icon-bcm {
        background-position: 0 -71px;
    }

    .ra-home-module-icon-radm {
        background-position: -67px -71px;
    }

    .ra-home-module-icon-rrc {
        background-position: -134px -71px;
    }

    .ra-home-module-icon-pim {
        background-position: -201px -71px;
    }

    .ra-home-module-icon-macm {
        background-position: 0 -71px;
    }

    .ra-home-module-icon-prm {
        width: 67px;
        height: 67px;
        background-image: url('/Images/Base/physical_record_65x65.png');
        background-repeat: no-repeat;
        display: table-cell;
        vertical-align: middle;
    }

    .ra-home-module-icon-rd {
        background-position: 0 -71px;
    }

    .ra-home-module-icon-sm {
        background-position: 0 -71px;
    }

    .ra-home-module-icon-eahm {
        background-position: 0 -71px;
    }

    .ra-home-module-icon-rtm {
        background-position: 0 -71px;
    }

    .ra-home-moudule-title {
        padding: 0 10px 0 20px;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        color: #585858;
        display: table-cell;
        vertical-align: middle;
    }

    .ra-home-moudule-description {
        height: 120px;
        line-height: normal;
        font-size: 14px;
        color: #585858;
    }

    .ra-home-moudule-links {
        margin-top: 15px;
    }

    .ra-home-moudule-link {
        padding-left: 18px;
        margin-bottom: 5px;
        position: relative;
        line-height: normal;
        //white-space: nowrap;
    }

    .ra-home-moudule-link-icon {
        position: absolute;
        left: 0;
        top: -1.5px;
        width: 18px;
        height: 18px;
        background-image: url('/Images/Base/action_button.png');
        background-repeat: no-repeat;
        background-position: -234px 0;
    }

    .ra-home-moudule-link-a, .ra-home-moudule-link-a:active, .ra-home-moudule-link-a:visited {
        font-size: 15px;
        line-height: 15px;
        color: #0026b3;
        text-decoration: none;
        vertical-align: top;
    }

    .ra-home-moudule-link-a:hover {
        color: #0026b3;
        text-decoration: underline;
    }

    .ra-home-sub-module-title {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .ra-home-sub-module-title-not-first-child {
        margin-top: 20px;
    }
}
