<!--Covered by AvePoint copyright and license agreement-->
<span class="inline-compose-card" contenteditable="false" itemscope="" itemtype="http://schema.skype.com/InputExtension">
    <adaptive-card see-more-enabled="true" show-card-header="true">
        <div class="card-acc-border">
            <!-- Hero/Thumbnail card -->
            <div class="card-container-default card-container-responsive tall-mode card-border">
                <div class="card-header">
                    <div class="card-header-buttons">
                        <button tabindex="-1"
                                class="ts-sym power-bar-card-copy app-icons-fill-hover focus-round-border">
                            <svg viewBox="0 0 32 32" role="presentation" class="app-svg icons-more app-bar-extra-icons-fill-colors"
                                 focusable="false">
                                <g class="icons-default-fill">
                                    <circle class="icons-filled" cx="22" cy="16" r="2"></circle>
                                    <circle class="icons-filled" cx="16" cy="16" r="2"></circle>
                                    <circle class="icons-filled" cx="10" cy="16" r="2"></circle>
                                    <circle class="icons-unfilled" cx="22" cy="16" r="1.5"></circle>
                                    <circle class="icons-unfilled" cx="16" cy="16" r="1.5"></circle>
                                    <circle class="icons-unfilled" cx="10" cy="16" r="1.5"></circle>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
                <!---->
                <div class="card-content-container">
                    <!-- Image -->
                    <!-- Elements on the right -->
                    <div class="card-content-right">
                        <!-- Content and Attribution -->
                        <div class="card-text-body card-data card-html-hide-img ">
                            <div class="card-content card-html">{0}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </adaptive-card>
</span>