<!--Covered by AvePoint copyright and license agreement-->
<span class="inline-compose-card" contenteditable="false" itemid="feeb9a255bc24026af44e4794523ccc8" itemscope="" itemtype="http://schema.skype.com/InputExtension">
    <hero-card card="card_feeb9a255bc24026af44e4794523ccc8" see-more-enabled="true" on-copy="onCopy($event)" show-card-header="true">
        <div class="ts-hero-card card-acc-border">
            <!-- Hero/Thumbnail card -->
            <div class="card-container-default card-container-responsive tall-mode  card-border" data-tid="hero-card-tall-mode">

                <div class="card-header">
                    <!---->
                    <div class="card-app-attribution" ng-if="::ctrl.card.appAttribution">
                        <div class="image-container">
                            <!---->
                            <img alt="Unknow" src="{6}">
                        </div>
                        <span ng-bind="::ctrl.card.appAttribution.name">{5}</span>
                    </div>
                    <!---->
                    <div class="card-header-buttons">
                        <button tabindex="-1" ng-click="ctrl.handleCardHeaderMenu($event)"
                                class="ts-sym power-bar-card-copy app-icons-fill-hover focus-round-border" title="卡片选项"
                                do-not-decorate-click-for-acc="">
                            <svg viewBox="0 0 32 32" role="presentation" class="app-svg icons-more app-bar-extra-icons-fill-colors"
                                 focusable="false">
                                <g class="icons-default-fill">
                                    <circle class="icons-filled" cx="22" cy="16" r="2"></circle>
                                    <circle class="icons-filled" cx="16" cy="16" r="2"></circle>
                                    <circle class="icons-filled" cx="10" cy="16" r="2"></circle>
                                    <circle class="icons-unfilled" cx="22" cy="16" r="1.5"></circle>
                                    <circle class="icons-unfilled" cx="16" cy="16" r="1.5"></circle>
                                    <circle class="icons-unfilled" cx="10" cy="16" r="1.5"></circle>
                                </g>
                            </svg>
                        </button>

                    </div>
                </div>
                <!---->
                <div class="card-content-container" ng-if="::ctrl.shouldShowCardContentContainer">
                    <!-- Image -->
                    <!-- Elements on the right -->
                    <div class="card-content-right">
                        <!-- Title and Subtitle-->
                        <!---->
                        <div ng-if="::ctrl.cardHasTitleOrSubtitle" class="card-text-body card-titles has-card-image">
                            <div class="card-title card-html card-inline-img-title2">{0}</div>
                            <div class="card-subtitle card-html card-inline-img-base">{1}</div>
                        </div>
                        <!-- Image -->
                        <div class="image-border">{2}</div>
                        <!-- Content and Attribution -->
                        <div ng-if="::ctrl.cardHasContentOrAttribution" class="card-text-body card-data card-html-hide-img ">

                            <div class="card-content card-html">{3}</div>

                        </div>
                        <!---->
                        <!-- Facts -->
                    </div>
                </div>
                <!-- Actions -->
                <div class="card-actions-container">{4}</div>
            </div>
        </div>
    </hero-card>
</span>