<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<DesignLists>
  <List url="FormServerTemplates" serverTemplate="101" />
  <List url="PublishingImages" serverTemplate="851" />
  <List url="Pages" serverTemplate="850" />
  <List url="SiteAssets" serverTemplate="101" />
  <List url="SiteCollectionDocuments" serverTemplate="101" />
  <List url="SiteCollectionImages" serverTemplate="851" />
  <List url="SitePages" serverTemplate="119" />
  <List url="Style Library" serverTemplate="101" />
  <List url="WorkflowTasks" serverTemplate="107" />
  <List url="Cache Profiles" serverTemplate="100" />
  <List url="ContentTypeSyncLog" serverTemplate="100" />
  <List url="RoutingRules" serverTemplate="100" />
  <List url="IWConvertedForms" serverTemplate="10102" />
  <List url="HoldReports" serverTemplate="101" />
  <List url="ContentTypeAppLog" serverTemplate="100" />
  <List url="Holds" serverTemplate="100" />
  <List url="Long Running Operation Status" serverTemplate="100" />
  <List url="masterpage" serverTemplate="116" />
  <List url="Notification Pages" serverTemplate="100" />
  <List url="Quick Deploy Items" serverTemplate="100" />
  <List url="Relationships List" serverTemplate="100" />
  <List url="Reporting Metadata" serverTemplate="100" />
  <List url="Reporting Templates" serverTemplate="101" />
  <list url="PackageList" serverTemplate="100" />
  <List url="solutions" serverTemplate="121" />
  <List url="Submitted E-mail Records" serverTemplate="104" />
  <List url="PublishedLinks" serverTemplate="100" />
  <List url="TaxonomyHiddenList" serverTemplate="100" />
  <List url="theme" serverTemplate="123" />
  <List url="wp" serverTemplate="113" />
  <List url="lt" serverTemplate="114"/>
  <List url="wfpub" serverTemplate="122" />
  <List url="users" serverTemplate="112" />
  <List url="variation labels" serverTemplate="100" />
  <!--only modify in English-->
  <List url="ReusableContent" serverTemplate="100" />
  <List url="Reports List" serverTemplate="100" />
  <!--German-->
  <List url="Bilder" serverTemplate="851" />
  <!--PublishingImages-->
  <List url="Bilder der Websitesammlung" serverTemplate="851" />
  <!--SiteCollectionImages-->
  <List url="Seiten" serverTemplate="850" />
  <!--Pages-->
  <List url="Websiteobjekte" serverTemplate="101" />
  <!--SiteAssets-->
  <List url="Websiteseiten" serverTemplate="119" />
  <!--SitePages-->
  <List url="Workflowaufgaben" serverTemplate="107" />
  <!--MicroFeed-->
  <List url="PublishedFeed" serverTemplate="544" />
  <!--WorkflowTasks-->
  <List url="Konvertierte Formulare" serverTemplate="10102" />
  <!--IWConvertedForms-->
  <List url="Gestaltungsvorlagenkatalog" serverTemplate="116" />
  <!--masterpage-->
  <List url="Benachrichtigungsliste" serverTemplate="100" />
  <!--Notification Pages  -->
  <List url="Elemente für schnelles Bereitstellen" serverTemplate="100" />
  <!--Quick Deploy Items-->
  <List url="Liste der Beziehungen" serverTemplate="100" />
  <!-- Relationships List-->
  <List url="Fehlerprotokoll für die Inhaltstyp-Dienstanwendung" serverTemplate="100" />
  <!--ContentTypeAppLog-->
  <List url="Cacheprofile" serverTemplate="100" />
  <!--Cache Profiles-->
  <list url="Freigegebene Pakete" serverTemplate="100" />
  <!--PackageList-->
  <List url="Vorgeschlagene Speicherorte für Inhaltsbrowser" serverTemplate="100" />
  <!--PublishedLinks-->
  <List url="Fehlerprotokoll für die Inhaltstypveröffentlichung" serverTemplate="100" />
  <!--ContentTypeSyncLog-->
  <List url="Formatbibliothek" serverTemplate="101" />
  <!--Style Library-->
  <List url="Formularvorlagen" serverTemplate="101" />
  <!--FormServerTemplates-->
  <List url="Dokumente der Websitesammlung" serverTemplate="101" />
  <!--SiteCollectionDocuments-->
  <List url="Lösungskatalog" serverTemplate="121" />
  <!--olutions-->
  <list url="Listenvorlagenkatalog" serverTemplate="114"/>
  <!--lt-->
  <list url="Benutzerinformationsliste" serverTemplate="112" />
  <!--users-->
  <List url="Designkatalog" serverTemplate="123" />
  <!--looks-->
  <List url="design" serverTemplate="124" />
  <!--theme-->
  <List url="Webpartkatalog" serverTemplate="113" />
  <!--wp-->
  <List url="PreservationHoldLibrary" serverTemplate="1310" />
  <!--Preservation Hold Library-->



  <!--French-->
  <List url="Images" serverTemplate="851" />
  <!--PublishingImages-->
  <List url="Images de la collection de sites" serverTemplate="851" />
  <!--SiteCollectionImages-->
  <List url="Pièces jointes" serverTemplate="101" />
  <!--SiteAssets-->
  <List url="Documents de la collection de sites" serverTemplate="101" />
  <!--SiteCollectionDocuments-->
  <List url="Rapports de suspension" serverTemplate="101" />
  <!--HoldReports-->
  <List url="Pages du site" serverTemplate="119" />
  <!--SitePages-->
  <List url="Modèles de formulaire" serverTemplate="101" />
  <!-- FormServerTemplates-->
  <List url="Bibliothèque de styles" serverTemplate="101" />
  <!--Style Library-->
  <List url="Taches de flux de travail" serverTemplate="107" />
  <!--WorkflowTasks-->
  <List url="Profils de cache" serverTemplate="100" />
  <!--Cache Profiles-->
  <List url="Journal des erreurs de publication de type de contenu" serverTemplate="100" />
  <!--ContentTypeSyncLog-->
  <List url="Règles de l’organisateur de contenu" serverTemplate="100" />
  <!--RoutingRules-->
  <List url="Liste de notifications" serverTemplate="100" />
  <!--Notification Pages-->
  <List url="éléments de déploiement rapide" serverTemplate="100" />
  <!--Quick Deploy Items-->
  <List url="Liste de relations" serverTemplate="100" />
  <!--Relationships List -->
  <list url="Packages partagés" serverTemplate="100" />
  <!--PackageList-->
  <List url="Journal des erreurs de publication de type de contenu" serverTemplate="100" />
  <!--ContentTypeAppLog-->
  <List url="Suspensions" serverTemplate="100" />
  <!--Holds-->
  <List url="Emplacements de navigateur de contenu suggérés" serverTemplate="100" />
  <!--PublishedLinks-->
  <list url="étiquettes de variantes" serverTemplate="100" />
  <!--variation labels-->
  <List url="Formulaires convertis" serverTemplate="10102" />
  <!--IWConvertedForms-->
  <List url="Galerie Pages ma?tres" serverTemplate="116" />
  <!--masterpage -->
  <List url="Galerie Solutions" serverTemplate="121" />
  <!--solutions-->
  <List url="Galerie Thèmes" serverTemplate="123" />
  <!--theme-->
  <List url="Galerie de composants WebPart" serverTemplate="113" />
  <!--wp-->
  <list url="Galerie Modèles de listes" serverTemplate="114"/>
  <!--lt-->
  <list url="Liste d'informations utilisateur" serverTemplate="112" />
  <!--users-->

  <!--Japanese-->
  <List url="ページ" serverTemplate="850" />
  <!--Pages-->
  <List url="イメージ" serverTemplate="851" />
  <List url="サイト コレクションのイメージ" serverTemplate="851" />
  <!--SiteCollectionImages-->
  <List url="サイトのページ" serverTemplate="119" />
  <!--SitePages-->
  <List url="ワークフロー タスク" serverTemplate="107" />
  <!--WorkflowTasks-->
  <List url="変換されたフォーム" serverTemplate="10102" />
  <!--IWConvertedForms-->
  <List url="マスター ページ ギャラリー" serverTemplate="116" />
  <!--masterpage-->
  <list url="バリエーション ラベル" serverTemplate="100" />
  <!--variation labels-->
  <List url="通知リスト" serverTemplate="100" />
  <!--Notification Pages-->
  <List url="簡易展開アイテム" serverTemplate="100" />
  <!--Quick Deploy Items-->
  <List url="リレーションシップ リスト" serverTemplate="100" />
  <!--Relationships List-->
  <List url="推奨されるコンテンツ ブラウザーの場所" serverTemplate="100" />
  <!--PublishedLinks-->
  <list url="共有パッケージ" serverTemplate="100" />
  <!--PackageList-->
  <List url="コンテンツ タイプの発行エラー ログ" serverTemplate="100" />
  <!---->
  <List url="キャッシュ プロファイル" serverTemplate="100" />
  <!--Cache Profiles-->
  <List url="コンテンツ タイプ サービス アプリケーションのエラー ログ" serverTemplate="100" />
  <!---->
  <List url="コンテンツ オーガナイザーのルール" serverTemplate="100" />
  <!--RoutingRules-->
  <List url="保留リスト" serverTemplate="100" />
  <!--Holds-->
  <List url="フォーム テンプレート" serverTemplate="101" />
  <!--FormServerTemplates-->
  <List url="サイトのリソース ファイル" serverTemplate="101" />
  <!--SiteAssets-->
  <List url="サイト コレクションのドキュメント" serverTemplate="101" />
  <!--SiteCollectionDocuments-->
  <List url="スタイル ライブラリ" serverTemplate="101" />
  <!--Style Library-->
  <List url="保留リスト レポート" serverTemplate="101" />
  <!--HoldReports-->
  <List url="ソリューション ギャラリー" serverTemplate="121" />
  <!--solutions-->
  <List url="テーマ ギャラリー" serverTemplate="123" />
  <!--theme-->
  <list url="リスト テンプレート ギャラリー" serverTemplate="114"/>
  <!--lt-->
  <list url="ユーザー情報リスト" serverTemplate="112" />
  <!--users-->
</DesignLists>