<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->

<!--This is default DI template congfig to use MicroKernel component-->
<configuration>
  <components>
    <component id="AvePoint.GCommon.MicroKernel.ICoreService" service="AvePoint.GCommon.MicroKernel.ICoreService, CommonMicroKernel" type="AvePoint.GCommon.MicroKernel.CoreService, CommonMicroKernel" />
    <component id="AvePoint.GCommon.MicroKernel.ICoreDispatcher" service="AvePoint.GCommon.MicroKernel.ICoreDispatcher, CommonMicroKernel" type="AvePoint.GCommon.MicroKernel.CoreDispatcher, CommonMicroKernel"  />
    <component id="AvePoint.GCommon.MicroKernel.ICoreMessageHandlerFactory" service="AvePoint.GCommon.MicroKernel.ICoreMessageHandlerFactory, CommonMicroKernel" type="AvePoint.GCommon.MicroKernel.DefaultIOCCoreMessageHandlerFactory, CommonMicroKernel"  />
    <component id="AvePoint.GCommon.MicroKernel.CoreMessage" service="AvePoint.GCommon.MicroKernel.ICoreMessageHandler, CommonMicroKernel" type="AvePoint.GCommon.MicroKernel.DefaultCoreMessageHandler, CommonMicroKernel"  />
    <component id="AvePoint.GCommon.MicroKernel.ICoreServiceLocator" service="AvePoint.GCommon.MicroKernel.ICoreServiceLocator, CommonMicroKernel" type="AvePoint.GCommon.MicroKernel.DefaultIOCCoreServiceLocator, CommonMicroKernel"  />
    <component id="AvePoint.GCommon.MicroKernel.IProxyBuilder" service="AvePoint.GCommon.MicroKernel.IProxyBuilder, CommonMicroKernel" type="AvePoint.GCommon.MicroKernel.RemotingProxyBuilder, CommonMicroKernel"  />
    <component id="AvePoint.GCommon.MicroKernel.IMicroKernelTraceSource" service="AvePoint.GCommon.MicroKernel.IMicroKernelTraceSource, CommonMicroKernel" type="AvePoint.GCommon.MicroKernel.MicroKernelTraceSource, CommonMicroKernel"  />

    <!--=========================================================================================

     ***  This component provide a ability of redirecting request of the default search rule,  **
     ***  Also, Instead of setting this in CommonMicroKernelIocConfiguration,you should set    **
     ***  this component in your own ioc configuration file,this one is just a sample demo     **

     ==========================================================================================-->

    <!--<component id="AvePoint.GCommon.MicroKernel.ICoreServiceLocatorKeyMapService" service="AvePoint.GCommon.MicroKernel.ICoreServiceLocatorKeyMapService, CommonMicroKernel" type="AvePoint.GCommon.MicroKernel.CoreServiceLocatorKeyMapService, CommonMicroKernel">
      <parameters>
        <KeyMapDictionary>
          <dictionary>
            <entry key="AvePoint.GCommon.Contract.Media.ITestMedia">AvePoint.GCommon.Contract.Media.ITestMedia</entry>
          </dictionary>
        </KeyMapDictionary>
      </parameters>
    </component>-->
  </components>
</configuration>