.reco-input-item {
  width: 100%;
  margin-bottom: 24px;

  .input-label {
    font: normal normal 600 14px "Open Sans", sans-serif;
    color: #323E4D;
    margin-bottom: 8px;
  
    >.input-require {
      margin-left: 4px;
      font: normal normal 600 13px "Open Sans", sans-serif;
      color: #FF4444;
    }
  }
  
  .input-message {
    margin-top: 8px;
    font: normal normal 400 14px "Open Sans", sans-serif;
    color: #cc0000;
  }
}

.reco-input-item-message {
  margin-top: 8px;
  font: normal normal 400 14px "Open Sans", sans-serif;
}