.plan-profile-footer-container {
    width: 100%;
    padding: 20px;
}

.plan-profile-panel-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
}

.plan-profile-criteria-wrapper {
    .criteria-column {
        display: flex;
        gap: 8px;
        align-items: center;
        
        > * {
            flex: 1 !important;
            width: auto !important;
        }
    }
}
.reco-plan-profile {
    .ra-main-navbar aui-button {
        margin-right: 8px;
    }
}
.reco-plan-profile-panel-container {
    .aui-expander {
        border: 1px solid #e6e7e8 !important;
        border-radius: 4px !important;
    }
}