.opus-common-order-table {
  flex: 1;

  .opus-common-order-table-add-row {
    min-width: 520px;
    gap: 8px;
    font: normal normal 600 14px/40px "Open Sans", sans-serif;
    color: #323e4d;
    border: 1px dashed #e8e9ea;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
    height: 40px;
  }
}
