.reco-dashboard-empty-content-wrapper {
    width: 100%;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .reco-dashboard-empty-content-icon {
        font-size: 78px;
    }

    .reco-dashboard-empty-content-text {        
        font: normal normal normal 13px "Open Sans", sans-serif;
        color: #7D848B;
    }
}