/* Pager */
.ra-pager-section .aui-folding-ie-input {
  font-size: 14px;
}

.ra-pager-size {
  .aui-combobox {
    margin-left: 5px;
    height: 24px !important;
  }

  .aui-popupshell-icon {
    width: 16px;
  }

  .aui-popupshell .aui-popupshell-content {
    width: calc(100% - 16px);
  }

  .aui-folding-input {
    padding-right: 20px;
    font-size: 14px;
  }

  .aui-folding-selection {
    line-height: 20px;
  }

  .aui-folding-ie-input {
    line-height: 22px;
  }
}

.ra-tree-pager .aui-folding-input {
  font-size: 13px;
}

.ra-panel-content .aui-messagebar, .ra-section .aui-messagebar {
   margin: 0 16px 16px 0;
}

//去掉弹出控件中的table 和 父级存在shadow的table 的shadow
.aui-table{
  box-shadow: none;
}

#rmJobMonitor,
#raRelatedRecord,
#ra-connection-management {
  .aui-tabs-bars {
    margin: 24px 24px 0;
  }
}

//去掉expander控件中的shadow
.aui-expander{
    box-shadow: none;
    border: 1px solid rgb(221, 221, 221);
}

.aui-expander-title {
    box-shadow: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#raColumnTables{
    .aui-table{
       box-shadow: none;
    }
    .aui-expander{
        border: none;
        border-top: 1px solid rgb(221, 221, 221);
    }
}
