﻿#rmTopNav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 24px;
}
#rmBreadcrumb {
  flex: 1 1 auto;
}
#rmTopRibbon {
  flex: 1 1 auto;
}

.g-search-breadcrumb {
  display: inline-block;
}

.g-search-search-box{
  float: right;
  margin-right: 20px;
}
  