/*Covered by AvePoint copyright and license agreement*/
/* Code Review Whole File */
.ra-schedule {
    min-height: 580px;

    .ra-form-label {
        margin-bottom: 16px;
    }

    .schedule-body {
        padding-left: 28px;
    }

    .schedule-label {
        width: 80px;
    }

    .endtime-occurrences {
        margin-right: 8px;
    }

    .ra-schedule-endBy-datepicker {
        margin-left: 24px;
    }
    
    .ra-schedule-endBy-inValid-msg{
        display: block;
        margin-left: 90px;
        width: 320px;
    }

    .upload-filesize {
      margin-left: 8px;
    }
    .template-down-icon {
      margin-right: 8px;
    }
}