.reco-box-config-conn {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DAE0E2;
  border-radius: 8px;
  padding: 24px;

  .reco-box-conn {
    padding-bottom: 0 !important;
  }

  .reco-box-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .reco-box-actions-desc {
    color: #707174;
    font: italic normal normal 13px "Open Sans", sans-serif;
    padding-right: 2px;
  }

  .reco-box-table-flex {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .reco-box-table-link {
    text-decoration: underline;
    font: italic normal 600 14px "Open Sans", sans-serif;
    color: #0072d0;
    cursor: pointer;
  }

  .reco-box-footer {
    display: flex;
    justify-content: right;
    margin-top: 24px;
  }

  .reco-az-paginate {
    height: 32px;
    display: flex;
    align-items: center;
  }

  .reco-az-paginate-rows {
    margin-right: 12px;

    >span {
      margin-right: 8px;
    }
  }
}

#reco-box-panel {

  .reco-box-panel-header {
    color: #27313C;
    font: normal normal normal 13px "Open Sans", sans-serif;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .reco-box-information-title {
    font: normal normal bold 16px "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #323E4D;
    margin-bottom: 8px;
  }

  .reco-box-information-section {
    width: 100%;
    background: #F2F3F4;
    border-radius: 4px;
    padding: 16px;
  }

  .reco-box-input-label {
    font: normal normal 600 14px "Open Sans", sans-serif;
    color: #323E4D;
    margin-bottom: 8px;
  }

  .reco-box-input {
    width: 100%;
    margin-bottom: 24px;
  }

  .ra-box-file {
    display: flex;
  }

  .ra-box-file-input {
    flex: 1;
    margin-right: 8px;
  }

}