<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<configuration>
  <configSections>
    <section name="dataTransfer" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <dataTransfer Binding="customBinding" UriSchema="net.tcp" DefaultDataBindingName="DataTransferDefaultDataBinding">
    <data CycleStreamSize="5242880" DataBlockCompressionMethod="ZLIB_COMPRESSION" DataBlockEncryptionMethod="AES_ENCRYPTION" DataBlockProcessorBufferSize="65536" DataBlockProcessorCycleStreamSize="1048576" DefaultReconnectTimeout="30" MaxCacheBuffer="200" MinReconnectTimeout="5" SendBufferSize="65536" TakeDataBlockTimeOut="10000" DisablePerformanceLogger="True" EnablePerformanceCounter="true" />
    <mq IsOneWayConnection="False" MaxMessageTimeout="172800000" MaxReconnectionTimeOut="1800" MaxRetryTimes="3" MQChannelMode="WCF" NoReconnectTimeOut="3" ReconnectionTime="2" TempFolder="" EnablePerformanceCounter="true" />
  </dataTransfer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataTransferDefaultDataBinding" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00" maxBufferPoolSize="524288" maxBufferSize="536870912" transferMode="Buffered" maxReceivedMessageSize="536870912" hostNameComparisonMode="StrongWildcard">
          <security mode="None"></security>
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="536870912" maxBytesPerRead="4096" maxNameTableCharCount="65536" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="DataTransferDefaultDataBinding" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00" maxBufferSize="536870912" maxBufferPoolSize="524288" transferMode="Buffered" listenBacklog="10" maxReceivedMessageSize="536870912" hostNameComparisonMode="StrongWildcard" portSharingEnabled="True">
          <security mode="None"></security>
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="536870912" maxBytesPerRead="4096" maxNameTableCharCount="65536" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="DataTransferDefaultDataBinding" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00" maxBufferPoolSize="524288" maxReceivedMessageSize="536870912" hostNameComparisonMode="StrongWildcard">
          <security mode="None"></security>
          <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="536870912" maxBytesPerRead="4096" maxNameTableCharCount="65536" />
        </binding>
      </wsDualHttpBinding>
      <customBinding>
        <binding name="DataTransferDefaultDataBinding" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00">
          <transactionFlow transactionProtocol="OleTransactions" />
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="320" maxStringContentLength="2147483647" maxArrayLength="536870912" maxBytesPerRead="4096" maxNameTableCharCount="65536" />
          </binaryMessageEncoding>
          <!--<sslStreamSecurity requireClientCertificate="true" />-->
          <tcpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="536870912" connectionBufferSize="102400" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05" maxBufferSize="536870912" maxPendingConnections="10" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="1" transferMode="Buffered" listenBacklog="10" portSharingEnabled="true" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>