<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <!--<default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>-->
    <!-- log to file -->
    <target name="AllLog" xsi:type="File"
            header="|Level|DateTime|Version|Thread|Class|Message|"
            layout="|${pad:padding=-5:inner=${level:uppercase=true}}|${date:format=MM-dd HH\:mm\:ss,fff}|${assembly-version}|${threadid}|${logger}|${message} ${onexception:${exception:format=tostring}|"
            fileName="${var:basedir}/logs/${appdomain:format={1\}}-${replace:searchFor=(\\.[\\w]+)+:replaceWith=:regex=true:inner=${logger}}.log"
            maxArchiveFiles="20"
            archiveAboveSize="5242880"
            archiveFileName="${var:basedir}/logs/${appdomain:format={1\}}-${replace:searchFor=(\\.[\\w]+)+:replaceWith=:regex=true:inner=${logger}}.log.{#}"
            archiveNumbering="Rolling"
            keepFileOpen="false"
            encoding="utf-8" />
	<target name="ELKLog" xsi:type="File"
			maxArchiveFiles="20"
			archiveNumbering="Rolling"
            keepFileOpen="false"
			 encoding="utf-8"
            archiveAboveSize="5242880"
			fileName="${var:basedir}/../logs/hybridserver.log" >
		<layout xsi:type="JsonLayout" includeAllProperties="true">
			<attribute name="Time" layout="${utczdate}" />
			<attribute name="Level" layout="${level:upperCase=true}"/>
			<attribute name="Thread" layout="${threadid}"/>
			<attribute name="Logger" layout="${callsite}"/>
			<attribute name="Type" layout="${replace:searchFor=(\\.[\\w]+)+:replaceWith=:regex=true:inner=${logger}}"/>
			<attribute name="Message" layout="${message}" />
		</layout>
	</target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="AllLog" />
	<logger name="*" minlevel="Debug" maxlevel="Error" writeTo="ELKLog" />
  </rules>
</nlog>