<?xml version="1.0" encoding="utf-8" ?>
<!--/********************************************************************
 *
 *  PROPRIETARY and CONFIDENTIAL
 *
 *  This file is licensed from, and is a trade secret of:
 *
 *                   AvePoint, Inc.
 *                   525 Washington Blvd, Suite 1400
 *                   Jersey City, NJ 07310
 *                   United States of America
 *                   Telephone: +1-201-793-1111
 *                   WWW: www.avepoint.com
 *
 *  Refer to your License Agreement for restrictions on use,
 *  duplication, or disclosure.
 *
 *  RESTRICTED RIGHTS LEGEND
 *
 *  Use, duplication, or disclosure by the Government is
 *  subject to restrictions as set forth in subdivision
 *  (c)(1)(ii) of the Rights in Technical Data and Computer
 *  Software clause at DFARS 252.227-7013 (Oct. 1988) and
 *  FAR 52.227-19 (C) (June 1987).
 *
 *  Copyright © 2017-2026 AvePoint® Inc. All Rights Reserved. 
 *
 *  Unpublished - All rights reserved under the copyright laws of the United States.
 */-->

<configuration>
	<components>
		<component id="AvePoint.Media.Service.DomainModel.CommonConfigInfo" service="AvePoint.Media.Service.DomainModel.CommonConfigInfo, MediaServiceDomainModel" type="AvePoint.Media.Service.DomainModel.CommonConfigInfo, MediaServiceDomainModel">
			<parameters>
				<MaxNodesCount>500</MaxNodesCount>
				<ForceUseCache>true</ForceUseCache>
				<UseMemoryStream>false</UseMemoryStream>
				<VerifyDataInRestore>false</VerifyDataInRestore>
				<ReadMetaDataViaCache>false</ReadMetaDataViaCache>
				<ReadContentDataViaCache>false</ReadContentDataViaCache>
			</parameters>
		</component>
		<component id="AvePoint.RA.DB.Dao.IMediaDataDao" service="AvePoint.RA.DB.Dao.IMediaDataDao, RevIMDB" type="AvePoint.RA.DB.Dao.MediaDataDao, RevIMDB" lifestyle="transient"/>
		<!--<component id="AvePoint.RA.Common.Audit.AuditInterceptorSelector" type="AvePoint.RA.Common.Audit.AuditInterceptorSelector, RevIMCommon" lifestyle="transient"/>-->
		<component id="AvePoint.Media.Service.ArchiverBackup.Backup.IArchiverBackupDataWriter" service="AvePoint.Media.Service.ArchiverBackup.Backup.IArchiverBackupDataWriter, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupDataWriter, MediaServiceArchiverBackup" lifestyle="transient" />
		<component id="AvePoint.Media.Core.Index.IIndexDatabaseUpgradeManager" service="AvePoint.Media.Core.Index.IIndexDatabaseUpgradeManager, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexDatabaseUpgradeManager, MediaCoreIndex" lifestyle="transient" />
		<component id="AvePoint.Media.Service.IStorageDeviceManager" service="AvePoint.Media.Service.IStorageDeviceManager, MediaServiceApplicationModel" type="AvePoint.Media.Service.StorageDeviceManager, MediaServiceApplicationModel" />
		<component id="AvePoint.Media.Core.Index.IIndexDeviceValidateManager" service="AvePoint.Media.Core.Index.IIndexDeviceValidateManager, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexDeviceValidateManager, MediaCoreIndex" lifestyle="transient" />
		<component id="AvePoint.Media.Service.ICacheService" service="AvePoint.Media.Service.ICacheService, MediaServiceApplicationModel" type="AvePoint.Media.Service.CacheService, MediaServiceApplicationModel" lifestyle="transient" />
		<component id="AvePoint.Media.Core.Index.IIndexCacheRetentionManager" service="AvePoint.Media.Core.Index.IIndexCacheRetentionManager, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexCacheRetentionManager, MediaCoreIndex" lifestyle="transient" />
		<component id="AvePoint.Media.Core.Index.IIndexDatabaseScriptGenerator" service="AvePoint.Media.Core.Index.IIndexDatabaseScriptGenerator, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexDatabaseScriptGenerator, MediaCoreIndex" lifestyle="transient">
			<parameters>
				<ScriptDictionary>
					<dictionary>
						<entry key="GranularIndexProcessorParameter">Granular</entry>
						<entry key="GeneralIndexProcessorParameter">General</entry>
						<entry key="ArchiverIndexProcessorParameter">Archiver</entry>
						<entry key="ExportIndexProcessorParameter">Export</entry>
					</dictionary>
				</ScriptDictionary>
			</parameters>
		</component>
		<component id="AvePoint.Media.Core.Index.IIndexCacheManager" service="AvePoint.Media.Core.Index.IIndexCacheManager, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexCacheManager, MediaCoreIndex" lifestyle="transient" />
		<component id="AvePoint.Media.Core.Index.IIndexDatabaseSynchronizer" service="AvePoint.Media.Core.Index.IIndexDatabaseSynchronizer, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexDatabaseSynchronizer, MediaCoreIndex" lifestyle="transient" />
		<!--<component id="AvePoint.Media.Service.ArchiverBackup.IDataWriterArchvierBackup" service="AvePoint.Media.Service.IDataWriter`1[[AvePoint.Media.Service.DomainModel.ArchiverBackupJob, MediaServiceDomainModel]], MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupDataWriter, MediaServiceArchiverBackup" lifestyle="transient" />-->
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverIndexProcessor" service="AvePoint.Media.Core.Index.IIndexProcessor`1[[AvePoint.Media.Service.ArchiverBackup.ArchiverIndexProcessorParameter, MediaServiceArchiverBackup]], MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexProcessor`1[[AvePoint.Media.Service.ArchiverBackup.ArchiverIndexProcessorParameter, MediaServiceArchiverBackup]], MediaCoreIndex" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverIndexService" service="AvePoint.Media.Service.DomainModel.IIndexService`1[[AvePoint.Media.Service.DomainModel.ArchiverIndexServiceOpenParameter, MediaServiceDomainModel]], MediaServiceDomainModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.ArchiverIndexService" service="AvePoint.Media.Service.ArchiverBackup.ArchiverIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.DomainModel.ArchiverStorageInfoMetaDataBuilder" service="AvePoint.Media.Service.DomainModel.IStorageInfoMetaDataBuilder, MediaServiceDomainModel" type="AvePoint.Media.Service.DomainModel.ArchiverStorageInfoMetaDataBuilder, MediaServiceDomainModel" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IDataReaderArchvierBackup" service="AvePoint.Media.Service.IDataReader`1[[AvePoint.Media.Service.DomainModel.ArchiverRestoreJob, MediaServiceDomainModel]], MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverRestoreDataReader, MediaServiceArchiverBackup" lifestyle="transient" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverBackupIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverBackupIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverImportIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverImportIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverImportIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverAdvancedSearchIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverAdvancedSearchIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverAdvancedSearchIndexService, MediaServiceArchiverBackup" lifestyle="thread">
			<parameters>
				<SqlBuilder>${AvePoint.Media.Service.DomainModel.ArchiverSqlBuilder}</SqlBuilder>
			</parameters>
		</component>
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverBrowserIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverBrowserIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBrowserIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverRestoreIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverRestoreIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverRestoreIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverRetentionIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverRetentionIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverRetentionIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverHeadAndBodyIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverHeadAndBodyIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverHeadAndBodyIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverJobInfoIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverJobInfoIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverJobInfoIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverSiteConfigurationIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverSiteConfigurationIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverSiteConfigurationIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverSiteInfoIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverSiteInfoIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverSiteInfoIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.IArchiverSiteMasterIndexService" service="AvePoint.Media.Service.ArchiverBackup.IArchiverSiteMasterIndexService, MediaServiceArchiverBackup" type="AvePoint.Media.Service.ArchiverBackup.ArchiverSiteMasterIndexService, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.ArchiverBackup.ArchiverRestoreTreeHandler" service="AvePoint.Media.Service.IRestoreServiceTreeHandler, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverRestoreTreeHandler, MediaServiceArchiverBackup" lifestyle="thread" />
		<component id="AvePoint.Media.Service.Remoting.ArchiverStatisticsCalculator" service="AvePoint.Media.Service.IStatisticsCalculator, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverRestoreStatisticsCalculator, MediaServiceArchiverBackup" lifestyle="transient">
			<parameters>
				<TreeHandler>${AvePoint.Media.Service.ArchiverBackup.ArchiverRestoreTreeHandler}</TreeHandler>
			</parameters>
		</component>
		<component id="AvePoint.Media.Service.Remoting.ArchiverMergeIndexService" service="AvePoint.Media.Service.IMergeIndexService, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.MergeIndexService, MediaServiceArchiverBackup" lifestyle="transient">
			<parameters>
				<IndexMainProcessor>${AvePoint.Media.Service.ArchiverBackup.ArchiverMergeIndexServiceProcessor}</IndexMainProcessor>
				<IndexMapProcessor>${AvePoint.Media.Service.ArchiverBackup.ArchiverMergeIndexServiceProcessor}</IndexMapProcessor>
			</parameters>
		</component>
		<component id="AvePoint.Media.Service.IJobProgressUpdater" service="AvePoint.Media.Service.IJobProgressUpdater, MediaServiceApplicationModel" type="AvePoint.Media.Service.JobProgressUpdater, MediaServiceApplicationModel" lifestyle="transient" />
		<component id="AvePoint.Media.Service.ArchiverBackup.ArchiverLifecycleRetentionService" service="AvePoint.Media.Service.IRetentionService, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverLifecycleRetentionService, MediaServiceArchiverBackup" lifestyle="transient" />
		<component id="AvePoint.Media.Service.Remoting.ArchiverBrowserService" service="AvePoint.Media.Service.IBrowserService, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupBrowserService, MediaServiceArchiverBackup" lifestyle="transient" />
		<component id="AvePoint.Media.Service.Remoting.ArchiverUpgradeBrowseService" service="AvePoint.Media.Service.IBrowserService, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupUpgradeBrowseService, MediaServiceArchiverBackup" lifestyle="transient" />
		<component id="AvePoint.Media.Service.Remoting.ArchiverVerifyImportDataService" service="AvePoint.Media.Service.IVerifyImportDataService, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupVerifyImportDataService, MediaServiceArchiverBackup" lifestyle="transient" />
		<component id="AvePoint.Media.Service.Remoting.ArchiverUpgradeService" service="AvePoint.Media.Service.IUpgradeService, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupUpgradeService, MediaServiceArchiverBackup" lifestyle="transient">
			<parameters>
				<OldIndexProcessor>${AvePoint.Media.Service.ArchiverBackup.ArchiverMergeIndexServiceProcessor}</OldIndexProcessor>
				<NewIndexProcessor>${AvePoint.Media.Service.ArchiverBackup.ArchiverMergeIndexServiceProcessor}</NewIndexProcessor>
			</parameters>
		</component>
		<component id="AvePoint.Media.Service.Remoting.ArchiverDataCalculator" service="AvePoint.Media.Service.IDataCalculator, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupDataCalculator, MediaServiceArchiverBackup" lifestyle="transient" />
		<component id="AvePoint.Media.Service.ArchiverBackup.ArchiverMergeIndexServiceProcessor" service="AvePoint.Media.Core.Index.IIndexProcessor`1[[AvePoint.Media.Service.ArchiverBackup.ArchiverIndexProcessorParameter, MediaServiceArchiverBackup]], MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexProcessor`1[[AvePoint.Media.Service.ArchiverBackup.ArchiverIndexProcessorParameter, MediaServiceArchiverBackup]], MediaCoreIndex" lifestyle="transient" />
		<component id="AvePoint.Media.Core.Index.IndexDatabaseVersionComparer" service="AvePoint.Media.Core.Index.IIndexDatabaseVersionComparer, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexDatabaseVersionComparer, MediaCoreIndex" lifestyle="transient" />
		<component id="AvePoint.Media.Core.Index.IndexDatabaseVersionManager" service="AvePoint.Media.Core.Index.IIndexDatabaseVersionManager, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexDatabaseVersionManager, MediaCoreIndex" lifestyle="transient" />
		<component id="AvePoint.Media.Core.Index.IndexDatabaseUpgradeManager" service="AvePoint.Media.Core.Index.IIndexDatabaseUpgradeManager, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexDatabaseUpgradeManager, MediaCoreIndex" lifestyle="transient" />
		<component id="AvePoint.Media.Core.Index.IIndexCacheRetentionManager" service="AvePoint.Media.Core.Index.IIndexCacheRetentionManager, MediaCoreIndex" type="AvePoint.Media.Core.Index.IndexCacheRetentionManager, MediaCoreIndex" lifestyle="transient" />
		<!--<component id="AvePoint.Media.Service.Remoting.ArchiverAdvancedSearchService" service="AvePoint.Media.Service.IAdvancedSearchService, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverAdvancedSearchService, MediaServiceArchiverBackup" lifestyle="transient" />-->
		<component id="AvePoint.Media.Service.DomainModel.DocAveArchiverBackupFileNameGeneratorData6000" service="AvePoint.Media.Service.DomainModel.IFileNameGenerator, MediaServiceDomainModel" type="AvePoint.Media.Service.DomainModel.DocAve60x.ArchiverFileNameGenerator, MediaServiceDomainModel" />
		<component id="AvePoint.Media.Service.DomainModel.IVolumeGeneratorFactory" service="AvePoint.Media.Service.DomainModel.IVolumeGeneratorFactory, MediaServiceDomainModel" type="AvePoint.Media.Service.DomainModel.VolumeGeneratorFactory, MediaServiceDomainModel" />
		<component id="AvePoint.Media.Service.DomainModel.DocAveArchiverBackupVolumeGenerator6X" service="AvePoint.Media.Service.DomainModel.IVolumeGenerator, MediaServiceDomainModel" type="AvePoint.Media.Service.DomainModel.DocAve6x.ArchiverVolumeGenerator, MediaServiceDomainModel" />
		<component id="AvePoint.Media.Service.DomainModel.DocAveArchiverBackupFullTextVolumeGenerator6X" service="AvePoint.Media.Service.DomainModel.IVolumeGenerator, MediaServiceDomainModel" type="AvePoint.Media.Service.DomainModel.ArchiverFullTextVolumeGenerator, MediaServiceDomainModel" />
		<component id="AvePoint.Media.Service.Remoting.ArchiverMoveIndexService" service="AvePoint.Media.Service.IMoveIndexService, MediaServiceApplicationModel" type="AvePoint.Media.Service.ArchiverBackup.ArchiverBackupMoveIndexService, MediaServiceArchiverBackup" lifestyle="transient" />
		<component id="AvePoint.Media.Service.DomainModel.IEncryptionInfoManager" service="AvePoint.Media.Service.DomainModel.IEncryptionInfoManager, MediaServiceDomainModel" type="AvePoint.Media.Service.DomainModel.EncryptionInfoManager, MediaServiceDomainModel" />
		<component id="AvePoint.Media.Service.DomainModel.IFilterManager" service="AvePoint.Media.Service.DomainModel.IFilterManager, MediaServiceDomainModel" type="AvePoint.Media.Service.DomainModel.FilterManager, MediaServiceDomainModel" />
	</components>
</configuration>
