.reco-phy-top-locations-wrapper {
    width: 100%;
    margin-bottom: 24px;

    .reco-phy-lablevalue-wrapper {
        width: 100%;
        height: 35px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 16px;
        justify-content: space-between;
        padding: 8px;
        font: normal normal normal 14px "Open Sans", sans-serif;
        color: #323E4D;

        div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}